<!--<button class="btn btn-outline-info closeBtn" (click)="onShowModalSettings()">*</button>-->
<button (click)="onToggleExpanded(!expanded)" class="close expandBtn" type="button">
  <span
      [ngClass]="{ collapsed: !expanded }"
      [title]="(expanded ? 'buttons.collapse' : 'buttons.expand') | translate"
      class="icon-arrow-expanded"></span>
</button>
<button
    (click)="onClose()"
    *ngIf="!hideAllButExpand"
    [title]="'buttons.close' | translate"
    class="close closeBtn"
    type="button">
  &times;
</button>
