@import 'src/app/core/styles/variables';

:host {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.close {
  position: relative;
  top: auto;
  right: auto;
  float: none;
}

.icon-arrow-expanded {
  $icon-side-size: 5 * $ss;
  $icon-button-size: 12 * $ss;

  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: $icon-button-size;
  height: $icon-button-size;
  cursor: pointer;

  &:before {
    position: relative;
    display: block;
    top: $ss;
    width: $icon-side-size;
    height: $icon-side-size;
    border-right: $ss solid $white;
    border-bottom: $ss solid $white;
    transform: translateY(50%) rotate(-135deg);
    transition-property: transform;
    transition-duration: 0.5s;
    content: '';
  }

  &.collapsed:before {
    transform: translateY(50%) rotate(45deg);
  }
}
