<div class="page-block">
  <form [formGroup]="form">
    <div class="stream-input-container">
      <label class="select-stream-label">Select stream(s)</label>
      <ng-multiselect-dropdown
        [data]="streamNameList"
        [settings]="{ allowSearchFilter: true, enableCheckAll: false }"
        appMultiselectNormalize
        class="flat-multiselect"
        [placeholder]="'Stream Name(s)'"
        formControlName="selectedStreams">
      </ng-multiselect-dropdown>
    </div>
    <label class="qql-query-label">Describe desired query or goal</label>
    <textarea [formControl]="inputQuery" class="qql-input" (keydown.control.enter)="generate()"></textarea>
    <button *ngIf="!isLoading" (click)="generate()" [disabled]="isLoading || !inputQuery.value"
      class="btn btn-primary">
      <span>Generate</span>
    </button>
    <button *ngIf="isLoading" (click)="stopGeneration()" [disabled]="!isLoading"
      class="btn btn-primary">
      <span>Stop Response Generation</span>
    </button>

    <div class="output-and-error">
      <div class="error-or-warning"
        [class.visible]="(responceCame && qqlErrorMessage)">
        <div *ngIf="responceCame && qqlErrorMessage" class="error-message">
          Error: {{ qqlErrorMessage }}
        </div>
        <div class="warning-message" *ngIf="!qqlErrorMessage">
          {{ warningMessage }}
        </div>
      </div>
      <div class="output" [class.error]="qqlErrorMessage">
        <ng-container *ngIf="!isLoading"><pre>{{ resultQuery }}</pre><br></ng-container>
        <span *ngIf="isLoading" class="loading-dots"></span> 
        <ng-container *ngIf="resultStatus">
          <span>{{ resultStatus }}</span><br>
        </ng-container>
        <ng-container *ngFor="let status of generationStatuses">
          <span class="history-status">{{ status }}</span><br>
        </ng-container>
        
      </div>
    </div>
    <button (click)="openQueryEditor()" class="btn btn-primary" [disabled]="!resultQuery">
      <ng-container *ngTemplateOutlet="shareIcon"></ng-container>
      <span class="open-query-editor-button-text">Open query editor</span>
    </button>
  </form>
</div>

<ng-template #shareIcon>
  <svg height="20" id="svg2" version="1.1" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
    xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" 
    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" 
    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:svg="http://www.w3.org/2000/svg"><defs 
    id="defs4"/>
    <g id="layer1" transform="translate(0,-1036.3622)">
      <path d="m -22.410713,-3.3303571 a 2.3660715,2.3660715 0 1 1 -4.732143,0 2.3660715,2.3660715 0 1 1 4.732143,0 z" 
        id="path2985" style="fill:#ffffff;fill-opacity:1;stroke:none" 
        transform="matrix(0.84528301,0,0,0.84528301,33.943395,1042.1773)"/>
      <path d="m -22.410713,-3.3303571 a 2.3660715,2.3660715 0 1 1 -4.732143,0 2.3660715,2.3660715 0 1 1 4.732143,0 z" 
        id="path2985-1" style="fill:#ffffff;fill-opacity:1;stroke:none" 
        transform="matrix(0.84528301,0,0,0.84528301,33.943395,1052.1773)"/>
      <path d="m -22.410713,-3.3303571 a 2.3660715,2.3660715 0 1 1 -4.732143,0 2.3660715,2.3660715 0 1 1 4.732143,0 z" 
        id="path2985-1-7" style="fill:#ffffff;fill-opacity:1;stroke:none" 
        transform="matrix(0.84528301,0,0,0.84528301,23.943395,1047.1773)"/>
      <path d="M 13,3 3,8 13,13" id="path3791" 
        style="fill:none;stroke:#ffffff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" 
        transform="translate(0,1036.3622)"/>
    </g>
  </svg>
</ng-template>
