@import '~src/app/core/styles/variables';

.gridWr,
.grid {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

ag-grid-angular ::ng-deep {
  .ag-cell-focus {
    border-color: transparent !important;
  }

  .ag-row-editing {
    background-color: rgba(78, 108, 149, 0.3);
  }
}
