@import '~src/app/core/styles/variables';

.btns-wr {
  position: relative;
  overflow: hidden;
  padding: 0 $ss * 4;
}

.upload-control {
  position: absolute;
  left: 1000%;
  bottom: 1000%;
  opacity: 0;
}

.btn-upload:focus {
  box-shadow: inset 0 0 $ss darken($primary, 50%) !important;
}
