@import '../modal-truncate/modal-truncate.component';

::ng-deep {
  .time-bar-legend {
    font-size: 11px;
    color: rgba(255, 255, 255, 0.4);
  }
}

.error-message {
  flex-grow: 1;
  text-align: center;
  color: rgb(254, 97, 115);
}