<i *ngIf="!(disableColumns$ | async)" class="ag-icon ag-icon-menu columns-icon" (click)="showContextMenu($event)"></i>
<context-menu #columnsMenu menuClass="grid-columns-context-menu fix-height">
  <ng-template passive="true" contextMenuItem>
    <app-tree-checkboxes
        [globalFilter]="true"
        [formControl]="columnsControl"
        class="columns-checkboxes"
        [tree]="columnsTree"
    ></app-tree-checkboxes>
  </ng-template>
</context-menu>

<context-menu menuClass="grid-context-menu" #cellMenu  >
  <ng-template (execute)="copy($event.item)" contextMenuItem >
   {{ 'gridMenu.copy' | translate }}
  </ng-template>
  <ng-template (execute)="copyWithHeaders($event.item)" contextMenuItem >
    {{ 'gridMenu.copyWithHeaders' | translate }}
  </ng-template>
  <ng-template [enabled]="copyJsonEnabled" (execute)="copyJSON($event.item)" contextMenuItem >
    {{ 'gridMenu.copyJSON' | translate }}
  </ng-template>
  <ng-template *ngIf="cellMenuItems?.length" passive="true" divider="true" contextMenuItem></ng-template>
  <ng-container *ngFor="let menuItem of cellMenuItems" >
    <ng-template (execute)="executeMenuItem(menuItem)" contextMenuItem >
      {{ menuItem.name }}
    </ng-template>
  </ng-container>
</context-menu>
