<i
    (click)="showContextMenu($event)"
    *ngIf="!(disableColumns$ | async)"
    class="ag-icon ag-icon-menu columns-icon"></i>
<context-menu #columnsMenu menuClass="grid-columns-context-menu fix-height">
  <ng-template contextMenuItem passive="true">
    <app-tree-checkboxes
        [formControl]="columnsControl"
        [globalFilter]="true"
        [tree]="columnsTree"
        class="columns-checkboxes"></app-tree-checkboxes>
  </ng-template>
</context-menu>

<context-menu #cellMenu menuClass="grid-context-menu">
  <ng-template (execute)="copy($event.item)" contextMenuItem>
    {{ 'gridMenu.copy' | translate }}
  </ng-template>
  <ng-template (execute)="copyWithHeaders($event.item)" contextMenuItem>
    {{ 'gridMenu.copyWithHeaders' | translate }}
  </ng-template>
  <ng-template (execute)="copyJSON($event.item)" [enabled]="copyJsonEnabled" contextMenuItem>
    {{ 'gridMenu.copyJSON' | translate }}
  </ng-template>
  <ng-template
      *ngIf="cellMenuItems?.length"
      contextMenuItem
      divider="true"
      passive="true"></ng-template>
  <ng-container *ngFor="let menuItem of cellMenuItems">
    <ng-template (execute)="executeMenuItem(menuItem)" contextMenuItem>
      {{ menuItem.name }}
    </ng-template>
  </ng-container>
</context-menu>
