@import 'src/app/core/styles/variables';

.flow-header-control {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 15 * $ss;
  z-index: 10;
}

vizceral {
  z-index: 9;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 15px;
  left: 10px;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  width: auto !important;
}

as-split-area {
  display: flex;
  flex-direction: column;
}

.vizceral-wrapper {
  flex-grow: 1;
  position: relative;
}

app-right-info-wrapper {
  ::ng-deep {
    .stream-props {
      min-height: auto;
      height: 100%;
    }

    .btn.close {
      height: 15px;
    }
  }
}

app-right-info-wrapper, app-right-area {
  height: 100%;
}

.filters-left {
  flex-grow: 1;
  margin-bottom: 15px;
}

app-flow-breadcrumbs {
  margin-left: 15px;
}

.reset-btn {
  min-width: 124px;
}
