<div class="details-stream-wrap full-height-page">
  <as-split
      [appSplitterSizes]="[75, 25]"
      [minSizes]="[586, 260]"
      [parentWidthAddon]="62"
      [useStorage]="false"
      [direction]="'horizontal'">
    <as-split-area [order]="1">
      <div class="col-md-12 d-stream">
        <ng-template [ngIf]="!!activeTab && !!(activeTab | async)">
          <div class="col-md-12 stream-details">
            <div
                [ngClass]="{ hide: (activeTab | async).schema || (activeTab | async).query }"
                class="d-flex">
              <app-filters-panel [hideTimePicker]="true" class="d-flex w-100"></app-filters-panel>
            </div>
            <div
                [ngClass]="{
                'hide-filters': (activeTab | async).schema || (activeTab | async).query
              }"
                class="grid-wr">
              <ng-container *ngIf="(streamDetails | async).errorMessage">
                <p class="error-message">
                  <span [title]="(streamDetails | async).errorMessage" class="error-message-text">{{
                    (streamDetails | async).errorMessage
                    }}</span>
                  <button
                      (click)="onHideErrorMessage()"
                      [title]="'buttons.removeNotification' | translate"
                      class="btn close-btn">
                    X
                  </button>
                </p>
              </ng-container>
              
              <app-monitor-log-grid class="h-100"></app-monitor-log-grid>
            </div>
          </div>
        </ng-template>
      </div>
    </as-split-area>
    <as-split-area [order]="2">
      <app-right-area [showOrderBook]="false"></app-right-area>
    </as-split-area>
  </as-split>
  <app-right-toolbar></app-right-toolbar>
</div>
