<div class="form-control-cb-wr">
  <label
      (click)="$event.stopImmediatePropagation(); $event.stopPropagation()"
      [class.disabled]="readOnly$ | async"
      class="container-ch">
    <ng-template [ngIf]="typeItem && typeItem._props && !typeItem.isEnum && !typeItem.isAbstract">
      <input
          (change)="onSetUsed($event, typeItem)"
          [checked]="typeItem._props._isUsed"
          [disabled]="readOnly$ | async"
          type="checkbox" />
      <span class="checkmark"></span>
    </ng-template>
  </label>
</div>
