@import '../../../../../../core/styles/variables';

.stream-props {
  position: relative;
  display: block;
  overflow: hidden;
  min-height: calc(100vh - 40 * #{$ss});
  padding-top: calc(7.5 * #{$ss});
  padding-bottom: calc(7.5 * #{$ss});
  border-radius: calc(4 * #{$ss});
  background: $nav-bg;
}

.table {
  tr td:first-child {
    padding-left: calc(5 * #{$ss});
  }
}

h4 {
  word-wrap: break-word;
}

.two_cols {
  width: 100%;
}

.editorWr {
  position: absolute;
  top: 39+5+28px;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  box-sizing: border-box;
  //width: 100%;

  //height: calc(100vh - /*(0.8125rem * 1.5 + 1.6rem)*/54.4px - /*(2rem + 21px)*/63px - 3.5rem - 32px);
  padding: 7.5 * $ss;
  padding-top: 5 * $ss;
  background-color: $nav-bg;

  ngx-monaco-editor {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
}

.control-panel {
  position: relative;
  display: block;
  height: 29px;
  margin-bottom: 5 * $ss;
  & > *{
    margin-left: 2 * $ss;
  }
}

::ng-deep{
  .editorWr .editor-container{
    height: 100%;
  }
}
