<div *ngIf="selectedMessage$ | async as selectedMessage" class="col-md-12 stream-props">
  <button
      (click)="onCloseMSGInfo()"
      class="btn btn-link close"
      [tooltip]="'buttons.close' | translate"
      placement="right"
  >
    <svg fill="none" height="8" id="i-close" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"
        stroke-width="2" viewBox="0 0 32 32" width="8" xmlns="http://www.w3.org/2000/svg">
      <path d="M2 30 L30 2 M30 30 L2 2" />
    </svg>
  </button>
  <h4>{{'titles.msgDetails' | translate}}</h4>
  <div class="control-panel d-flex">
    <button
        type="button"
        class="btn btn-sm btn-outline-success"
        (click)="onSwitchView()">
      {{ btnText$ | async | translate }}
    </button>
  </div>
  <div *ngIf="showJson$ | async; else tableTpl" class="editorWr">
    <ngx-monaco-editor
        [options]="editorOptions"
        [ngModel]="editorValue$ | async"
    ></ngx-monaco-editor>
  </div>
  <ng-template #tableTpl>
    <div class="table-responsive">
      <table class="table">
        <tbody>
        <ng-container *ngFor="let prop of props$ | async">
          <tr>
            <th scope="row" [colSpan]="prop.value ? 1 : 2"> {{ prop.key }} </th>
            <td *ngIf="prop.value">{{ prop.value }}</td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </ng-template>
</div>
