<app-modal>
  <ng-container title>{{ 'titles.truncateModal' | translate }} {{ stream.name }}</ng-container>
  <ng-container content>
    <p class="w-100">
      <span>{{ 'text.truncate_explanation' | translate }}</span>
    </p>
    <div class="w-100 symbols-list">
      <span class="font-weight-bold w-100">{{ 'titles.symbolsToTruncate' | translate }}:</span>
      <app-multi-select
          [flat]="true"
          [formControl]="symbolsControl"
          [items]="symbolsList$ | async"
      ></app-multi-select>
    </div>
    <div *ngIf="endDate && startDate" class="w-100">
      <span class="font-weight-bold w-100"
      >{{ 'buttons.truncate' | translate }} {{ 'titles.toTime' | translate }}:</span
      >
      <app-time-bar-picker
          [(selectedDate)]="selectedDate"
          [endDate]="endDate"
          [startDate]="startDate"
          method="truncate"></app-time-bar-picker>
    </div>
  </ng-container>
  <ng-container footer>
    <button
        (click)="onTruncateSubmit()"
        [tooltip]="'buttons.truncate' | translate"
        class="btn btn-info"
        type="button">
      {{ 'buttons.truncate' | translate }}
    </button>
    <button
        [tooltip]="'buttons.cancel' | translate"
        appModalHideBtn
        class="btn btn-default last"
        type="button">
      {{ 'buttons.cancel' | translate }}
    </button>
  </ng-container>
</app-modal>
