<app-resizable 
  [withoutCloseBtn]="uploading"
  [minWidth]="900" [minHeight]="minHeight" [saveSize]="false"
  [contentClassName]="'import-file-content'" [contentHeightDifference]="170" [modalBodyHeightDifference]="120">
  <ng-container *ngTemplateOutlet="importModalContent"></ng-container>
</app-resizable>

<ng-template #importModalContent>
  <app-modal [withoutCloseBtn]="uploading" [withoutFooter]="uploading">
    <ng-container title>
      {{ 'importFromFile.title.QSMSG' | translate }}
      <span *ngIf="displayStreamName" class="stream-title">
        to <b>{{ displayStreamName }}</b>
      </span>
      <ng-container *ngIf="timebases$ | async as timebases">
        <select *ngIf="timebases.length > 1" class="db-selector"
                [class.db-selector-error]="selectedTbUnavailable"
                [disabled]="importStep !== 'fileInput' || uploading"
                (change)="onTbChange($event.target['value'])">
          <option *ngFor="let tb of timebases" [value]="tb.id" [selected]="tb.id === tbId"
                  [disabled]="tb.connected === false"
                  [title]="tb.connected === false ? (tb.errorMessage || 'Timebase is unavailable') : null">{{ tb.id }}{{ tb.connected === false ? ' (unavailable)' : '' }}</option>
        </select>
        <span *ngIf="timebases.length === 1 && tbId" class="db-indicator" [class.db-selector-error]="selectedTbUnavailable">{{ tbId }}</span>
      </ng-container>
      <span *ngIf="selectedTbUnavailable" class="db-selector-hint">Selected timebase is unavailable.</span>
    </ng-container>
    <div [formGroup]="form" class="import-file-content" content>
      <ng-container *ngIf="!uploading && importStep === 'fileInput'">
        <div class="form-group files-form-group">
          <div class="row">
            <label class="col-3">
              {{ 'importFromFile.labels.file' | translate }}
              <ng-container *ngTemplateOutlet="requiredFieldMarker"></ng-container>
            </label>
            <div class="col-9 file-input">
              <app-file-btn [accept]="['.gz', '.zip', '.qsmsg']" formControlName="file">
                {{ 'importFromFile.labels.chooseFile' | translate }}
              </app-file-btn>
              <div *ngIf="showFileBy$ | async" formControlName="fileBy" btnRadioGroup class="btn-group radio-group">
                <button
                  *ngFor="let button of fileByConfig"
                  [btnRadio]="button"
                  class="btn btn-default">
                  {{ 'importFromFile.fileBy.' + button | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3">
            {{ 'importFromFile.labels.stream' | translate }}
            <ng-container *ngTemplateOutlet="requiredFieldMarker"></ng-container>
          </label>
          <deltix-ng-autocomplete 
              class="col-9"
              (changeInput)="onStreamChange($event)"
              [values]="autocomplete$ | async"
              [placeholder]="'importFromFile.placeholders.stream' | translate"
              cssClass="in-modal"
              [invalid]="form.get('stream').invalid && form.get('stream').dirty"
              formControlName="stream">
          </deltix-ng-autocomplete>
        </div>
        <div class="form-group row">
          <label class="col-3">{{ 'importFromFile.labels.writeMode' | translate }}</label>
          <app-write-modes-control class="col-9" formControlName="writeMode"></app-write-modes-control>
        </div>
        <div class="form-group row">
          <label class="col-3">{{ 'importFromFile.labels.description' | translate }}</label>
          <div class="col-9">
            <input class="form-control form-control--flat" formControlName="description" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3">{{ 'importFromFile.labels.symbols' | translate }}</label>
          <div class="col-9">
            <app-multi-select-autocomplete
              cssClass="flat-select"
              formControlName="symbols"
              notFoundText="No symbols found"
            ></app-multi-select-autocomplete>
            <div class="hint">{{ 'importFromFile.symbolHint' | translate }}</div>
          </div>

        </div>
        <div formGroupName="periodicity" class="form-group row">
          <label class="col-3">{{ 'importFromFile.labels.periodicity' | translate }}</label>
          <div class="periodicity-group col-9">
              <app-multi-select
                  *ngIf="periodicityTypes$ | async as periodicityTypes"
                  [items]="periodicityTypes"
                  [single]="true"
                  [search]="false"
                  [flat]="true"
                  formControlName="type"
              ></app-multi-select>
            <div class="periods-form-group" *ngIf="form?.get('periodicity.type').value === periodicityTypes.regular">
              <label>
                {{ 'importFromFile.labels.interval' | translate }}
                <ng-container *ngTemplateOutlet="requiredFieldMarker"></ng-container>
              </label>
              <app-bars-period-filter
                  [fillOnNull]="false"
                  cssClass="in-modal"
                  formControlName="value"
              ></app-bars-period-filter>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3">{{ 'importFromFile.labels.version' | translate }}</label>
          <div class="periodicity-group col-9">
            <app-multi-select
              [items]="versionOptions"
              [single]="true"
              [search]="false"
              [flat]="true"
              [selectionDisabled]="existingStream$ | async"
              formControlName="version"
            ></app-multi-select>
            <ng-container *ngIf="(showDistributionFactorInput$ | async) && !(existingStream$ | async)">
              <label class="inline-label">{{ 'importFromFile.labels.distributionFactor' | translate }}</label>
              <deltix-ng-autocomplete 
                [values]="distributionFactorOptions"
                (changeInput)="distributionFactorChange($event)"
                [single]="true"
                [search]="false"
                [flat]="true"
                cssClass="in-modal"
                formControlName="distributionFactor"
                [invalid]="!!validationErrorMessages.distributionFactor">
              </deltix-ng-autocomplete>
            </ng-container>
          </div>
        </div>
        <div class="row">
          <label class="col-3">{{ 'importFromFile.labels.timeZone' | translate }}</label>
          <div class="form-group col-9">
            <app-multi-select
                [items]="timezones"
                [single]="true"
                [flat]="true"
                formControlName="timezone"
                class="timezone-dropdown"
            ></app-multi-select>
          </div>
        </div>
        <div class="row">
          <div class="col-3 form-group">
            <div class="form-control-cb-wr">
              <label class="container-ch">
                <input formControlName="setRange" type="checkbox" />
                <span class="checkmark"></span>
                {{ 'importFromFile.labels.setRange' | translate }}
              </label>
            </div>
          </div>
          <div class="form-group col-9">
            <app-date-range-picker [clearBtn]="true" [timezone]="nullTimezone.name" formControlName="range"
              [showLabels]="true" [rangeDisabled]="!form.get('setRange').value" 
              [startInvalid]="!!validationErrorMessages.startTime || !!validationErrorMessages.timeRange" 
              [endInvalid]="!!validationErrorMessages.endTime || !!validationErrorMessages.timeRange">
            </app-date-range-picker>
          </div>
        </div>
        <ng-template #spacer>
          <div class="spacer"></div>
        </ng-template>
      </ng-container>
      <ng-container *ngIf="!uploading && importStep === 'schema'">
        <app-se-layout [stream]="nameOfCreatingStream" [schema]="schema" [extendable]="false" [insideModal]="true" 
          (streamCreated)="checkDataLosses(true)">
        </app-se-layout>
      </ng-container>
      <ng-container *ngIf="uploading">
        <ng-container *ngIf="!importError">
          <div class="upload-status">
            <ng-container *ngIf="!importFinished">
              {{ (uploadingFile ? 'importFromFile.uploadingFile' : 'importFromFile.importingFile') | translate }}...
            </ng-container>
            <ng-container *ngIf="importFinished">
              {{ 'importFromFile.importFinished' | translate }}
            </ng-container>
          </div>
          <div class="upload-progress-bar">
            <div [style.width.%]="progress$ | async" class="upload-progress-bar__fill"></div>
            <div class="upload-progress-bar__label">{{ progress$ | async }}%</div>
          </div>
        </ng-container>
        <div *ngIf="messages.length" class="upload-messages">
          <div *ngFor="let message of messages"
              class="upload-message"
              [class.info]="importProgressTypes.info === message.type"
              [class.warning]="importProgressTypes.warning === message.type"
              [class.error]="importProgressTypes.error === message.type"
          >
            <div class="upload-message__left">{{ message.type }}:</div>
            <div class="upload-message__right">{{ message.message }}</div>
          </div>
        </div>
        <div class="upload-cancel">
          <ng-container *ngIf="!importError">
            <button *ngIf="!importFinished" (click)="cancelImport()" class="btn btn-default">
              {{ 'importFromFile.cancel' | translate }}
            </button>
            <button *ngIf="importFinished" (click)="finish()" class="btn btn-primary">
              {{ 'importFromFile.close' | translate }}
            </button>
          </ng-container>
          <div class="error-buttons" *ngIf="importError">
            <button (click)="return(false)" class="btn btn-primary">
              {{ 'importFromFile.return' | translate }}
            </button>
            <button (click)="finish()" class="btn btn-default">
              {{ 'importFromFile.close' | translate }}
            </button>
          </div>
        </div>
      </ng-container>
    </div>
    <ng-container footer>
      <div class="error-messages">
        <div *ngFor="let message of validationErrorMessages | keyvalue: originalOrder" class="error-message" 
          [class.error-message-not-empty]="!!message.value">{{ message.value }}</div>
      </div>
      <ng-container *ngIf="!uploading && importStep === 'fileInput'">
        <button [disabled]="form.invalid || (existingStream$ | async) || schemaButtonDisabled || schemaEditingDisabled || importButtonDisabled || selectedTbUnavailable"
          (click)="editSchema()" class="btn btn-primary">
          <span *ngIf="!schemaButtonDisabled">{{ 'importFromFile.editSchema' | translate }}</span>
          <div *ngIf="schemaButtonDisabled" class="uploading-text-and-icon">
            <div>{{ 'importFromFile.uploading' | translate }}</div>
            <div class="lds-dual-ring"></div>
            <div class="file-upload-progress" [ngStyle]="{'right': (100 - uploadingFileProgress) + '%'}"></div>
          </div>
        </button>
        <button [disabled]="form.invalid || uploadingFile || schemaButtonDisabled || importButtonDisabled || selectedTbUnavailable" (click)="import()" class="btn btn-primary">
          <span *ngIf="!importButtonDisabled">{{ 'importFromFile.import' | translate }}</span>
          <div *ngIf="importButtonDisabled" class="uploading-text-and-icon">
            <div>{{ 'importFromFile.uploading' | translate }}</div>
            <div class="lds-dual-ring"></div>
            <div class="file-upload-progress" [ngStyle]="{'right': (100 - uploadingFileProgress) + '%'}"></div>
          </div>
        </button>
      </ng-container>
      <ng-container *ngIf="importStep === 'schema'">
        <button (click)="backToFileInput()" class="btn btn-primary">
          {{ 'importFromFile.back' | translate }}
        </button>
        <button (click)="createStreamAndImport()" [disabled]="(schemaInvalid$ | async) || selectedTbUnavailable" class="btn btn-primary">
          {{ 'importFromFile.createStreamAndImport' | translate }}
        </button>
      </ng-container>
    </ng-container>
  </app-modal>
</ng-template>

<ng-template #requiredFieldMarker>
  <span class="required-field-marker">*</span>
</ng-template>

<ng-template #dataLossWarning>
  <div class="content">
    <p>{{ 'importFromFile.warnings.dataLoss' | translate }}</p>
    <div class="warning-buttons">
      <button (click)="closeConfirmationModal(true)" class="btn btn-default">
        {{ 'importFromFile.cancel' | translate }}
      </button>
      <button (click)="startImport()" class="btn btn-primary">
        {{ 'importFromFile.continue' | translate }}
      </button>
    </div>
  </div>
</ng-template>

<div *ngIf="conformationModalOpen" class="modal-background"></div>
<div *ngIf="schemaButtonDisabled || importButtonDisabled" class="request-in-progress"></div>
