<a [class.with-text]="showText" [queryParams]="params" [routerLink]="['query']">
  <svg
      fill="none"
      height="16"
      id="i-msg"
      stroke="currentcolor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      viewBox="0 0 32 32"
      width="16"
      xmlns="http://www.w3.org/2000/svg">
    <path d="M2 4 L30 4 30 22 16 22 8 29 8 22 2 22 Z" />
  </svg>
  <ng-container *ngIf="showText">
    {{ 'contextMenu.query' | translate }}
  </ng-container>
</a>
