<ag-grid-angular
    #typesGrid
    [gridOptions]="gridOptions$ | async"
    class="grid ag-theme-balham-dark w-100 h-100">
</ag-grid-angular>

<ng-template #editItemModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{ (editItemModalState.isEnum ? 'text.editEnumProps' : 'text.editClassProps') | translate }}
    </h4>
  </div>
  <div class="modal-body">
    <form
        (ngSubmit)="onConfirmChanges(editItemModalState)"
        [formGroup]="editTypeItemForm"
        class="form-horizontal props-form nameForm"
        id="nameForm">
      <div class="controlWr">
        <label class="btn control-label" for="nameInput">
          {{ 'forms.editTypeItem.name' | translate }}
          <strong class="text-danger">*</strong>
        </label>
        <input
            class="btn input-control"
            formControlName="name"
            id="nameInput"
            name="name"
            type="text" />
      </div>
      <span
          *ngIf="isNameForbidden()"
          class="alert alert-danger my-1 p-2 fadeInDown animated validation-error"
      >{{ 'forms.validators.nameExists' | translate }}</span
      >
      <ng-template [ngIf]="!editItemModalState.isEnum && !editItemModalState.isAbstract">
        <div class="controlWr">
          <div class="form-group d-flex align-items-start controlWr">
            <label class="form-control-label btn control-label" for="isUsedInput">
              <!--            <strong class="text-danger" *ngIf="field.required">*</strong>-->
              {{ 'forms.editTypeItem.isUsed' | translate }}
            </label>
            <div class="form-control-wr">
              <div class="form-control-cb-wr">
                <label class="form-control-cb">
                  <input
                      [checked]="getCbValue()"
                      formControlName="isUsed"
                      id="isUsedInput"
                      name="isUsed"
                      type="checkbox" />
                  <span class="form-control-cb-indicator"></span>
                  <span class="form-control-cb-focus-indicator"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <div class="controlWr">
        <label class="btn control-label" for="titleInput">
          {{ 'forms.editTypeItem.title' | translate }}
        </label>
        <input
            class="btn input-control"
            formControlName="title"
            id="titleInput"
            name="title"
            type="text" />
      </div>
    </form>
  </div>
  <div class="modal-footer d-flex justify-content-end">
    <button
        [disabled]="editTypeItemForm.invalid || editTypeItemForm.pristine"
        aria-label="Close"
        class="btn btn-success pull-right"
        form="nameForm"
        type="submit">
      <span aria-hidden="true">{{ 'buttons.confirm' | translate }}</span>
    </button>
    <button
        (click)="editItemModalRef.hide()"
        aria-label="Close"
        class="btn btn-outline-light pull-right"
        type="button">
      <span aria-hidden="true">{{ 'buttons.cancel' | translate }}</span>
    </button>
  </div>
</ng-template>
