<app-top-filters-page-layout>
  <ng-container [formGroup]="filters" filters>
    <div class="filters-left">
      <div class="filter streams-filter">
        <label>{{ 'orderBook.filterLabels.streams' | translate }}</label>
        <ng-multiselect-dropdown
          [data]="streamNames$ | async"
          [placeholder]="'orderBook.selectStreams' | translate"
          [settings]="{ allowSearchFilter: true, enableCheckAll: false }"
          appMultiselectNormalize
          class="flat-multiselect"
          formControlName="streams"></ng-multiselect-dropdown>
      </div>
      <div *ngIf="filters.get('streams').value?.length" class="filter">
        <label>{{ 'orderBook.filterLabels.symbol' | translate }}</label>
        <ng-multiselect-dropdown
            [data]="symbols$ | async"
            [placeholder]="'orderBook.selectSymbol' | translate"
            [settings]="{ allowSearchFilter: true, enableCheckAll: false, singleSelection: true }"
            appMultiselectNormalize
            class="flat-multiselect"
            formControlName="symbol"></ng-multiselect-dropdown>
      </div>
    </div>
    <div *ngIf="exchanges$ | async as exchanges" class="filter exchanges-filter">
      <label>{{ 'orderBook.filterLabels.exchanges' | translate }}</label>
      <ng-multiselect-dropdown
          (onDeSelect)="onExchangeDeselect($event)"
          (onSelect)="onExchangeSelect($event)"
          [data]="exchanges"
          [placeholder]="'orderBook.selectExchanges' | translate"
          [settings]="{ allowSearchFilter: true, enableCheckAll: false }"
          appMultiselectNormalize
          class="flat-multiselect"
          formControlName="exchanges"></ng-multiselect-dropdown>
    </div>
  </ng-container>
  <ng-container content *ngIf="orderBookFiltersReady">
    <app-order-book
        (destroy)="onBookDestroy()"
        (exchangesChanged)="onExchanges($event)"
        (ready)="onBookReady()"
        [showLastTime]="true"
        [orientation]="orientation$ | async"
        (orientationChange)="onOrientationChanged($event)"
        *ngIf="filters?.get('symbol').value[0]"
        [class.hidden]="loading || noData"
        [hiddenExchanges]="hiddenExchanges$ | async"
        [streams]="streamKeys | async"
        [symbol]="filters.get('symbol').value[0]"></app-order-book>
    <div [class.show]="loading" class="loader"></div>
    <div [class.hidden]="!noData" class="no-data-message">
      {{ 'orderBook.waitingForData' | translate }}
    </div>
  </ng-container>
</app-top-filters-page-layout>
