@import 'src/app/core/styles/variables';

.full-height-page {
  padding-left: 0;
  padding-bottom: 5 * $ss;
}

app-order-book {
  margin-top: 5 * $ss;
  height: 100%;
  width: 100%;
}

.page-block {
  display: flex;
  flex-direction: column;
}

.page-divider {
  height: 10px;
  background-color: $body-bg;
  margin: 0 -15px;
}

.filters {
  display: flex;
  justify-content: space-between;
  max-width: 100%;

  .filters-left {
    display: flex;

    .filter {
      margin-right: 10 * $ss;
    }
  }

  .filter {
    display: flex;
    align-items: flex-start;
    max-width: 300px;
  }

  label {
    margin-top: 3 * $ss;
    margin-right: 5 * $ss;
  }

  ng-multiselect-dropdown {
    display: inline-block;
    min-width: 0;
    margin-bottom: 15px;
  }

  .streams-filter {
    flex-grow: 1;
    width: 400px;
    display: flex;
    max-width: unset;

    ng-multiselect-dropdown {
      flex-grow: 1;
    }
  }

  .exchanges-filter {
    max-width: 500px;
  }
}

.loader.show {
  display: block;
}

.no-data-message {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.hidden {
  display: none;
}

.alert-warning {
  padding: 5px 10px;
  width: fit-content;
  margin-bottom: 10px;
}
