<div
    *ngIf="selectedConnectionView$ | async as selectedConnectionView"
    [cdkDragDisabled]="!isParent"
    cdkDrag
    cdkDragBoundary=".page-block"
    class="detailWr">
  <div (dblclick)="showContent = !showContent" class="detailsHeader">
    <h4 class="detailsName">
      <span *ngIf="isParent" cdkDragHandle class="panEventHolder"></span>
      <span [style.color]="selectedConnectionView.source.metadata.color">{{
        selectedConnectionView.source.name
        }}</span>
      ->
      <span [style.color]="selectedConnectionView.target.metadata.color">{{
        selectedConnectionView.target.name
        }}</span>
    </h4>
    <app-details-modal-settings [(expanded)]="showContent" [hideAllButExpand]="!!nodeConnection">
    </app-details-modal-settings>
  </div>
  <div *ngIf="showContent" class="detailsContent">
    <app-source-target
        [nodeType]="'source'"
        [node]="selectedConnectionView.source"></app-source-target>
    <app-source-target
        [nodeType]="'target'"
        [node]="selectedConnectionView.target"></app-source-target>
    <div class="metadata">
      <div class="loadersList subSection">
        <div class="subSectionHeader">
          <p [style.color]="colors['loader']" class="subSectionTitle">
            {{ 'titles.flow.loaders' | translate }} ({{
            getMetadataLength(selectedConnectionView, 'loaders')
            }})
          </p>
        </div>
        <div class="subsectionContent">
          <ag-grid-angular [gridOptions]="gridLoadersOptions" class="grid ag-theme-balham-dark">
          </ag-grid-angular>
        </div>
      </div>
      <div class="cursorsList subSection">
        <div class="subSectionHeader">
          <p [style.color]="colors['cursor']" class="subSectionTitle">
            {{ 'titles.flow.cursors' | translate }} ({{
            getMetadataLength(selectedConnectionView, 'cursors')
            }})
          </p>
        </div>
        <div class="subsectionContent">
          <ag-grid-angular [gridOptions]="gridCursorsOptions" class="grid ag-theme-balham-dark">
          </ag-grid-angular>
        </div>
      </div>
    </div>
  </div>
</div>
