<div *ngIf="selectedConnectionView$ | async as selectedConnectionView" class="detailWr">
  <div class="detailsHeader">
    <app-source-target
        [nodeType]="'source'"
        [node]="selectedConnectionView.source"></app-source-target>
    <div class="source-target-arrow"></div>
    <app-source-target
        [nodeType]="'target'"
        [node]="selectedConnectionView.target"></app-source-target>
  </div>
  <div *ngIf="!showTables" class="connection-info">
    <div *ngIf="loadersLength$ | async" [style.color]="colors['loader']">
      {{ 'titles.flow.loaders' | translate }} {{ loadersLength$ | async }}, RPS: {{ loadersRPS$ | async }}
    </div>
    <div *ngIf="cursorsLength$ | async" [style.color]="colors['cursor']">
      {{ 'titles.flow.cursors' | translate }} {{ cursorsLength$ | async }}, RPS: {{ cursorsRPS$ | async }}
    </div>
  </div>
</div>
<div *ngIf="showTables" class="tables">
  <ng-container *ngIf="loadersLength$ | async">
    <ng-container *ngTemplateOutlet="table; context: {title: 'Loaders', items$: loaders$, color: colors.loader}"></ng-container>
  </ng-container>
  <ng-container *ngIf="cursorsLength$ | async">
    <ng-container *ngTemplateOutlet="table; context: {title: 'Cursors', items$: cursors$, color: colors.cursor}"></ng-container>
  </ng-container>
</div>
<ng-template #table let-title="title" let-items$="items$" let-color="color">
  <div *ngIf="items$ | async as items" class="connection-table-wrapper">
    <div [style.color]="color" class="connection-table-title">{{ title }} ({{ items.length }})</div>
    <div *ngIf="items.length" class="connection-table">
      <div class="connection-table__header">
        <div>ID</div>
        <div>RPS</div>
      </div>
      <div *ngFor="let loader of items" class="connection-table__row">
        <div>{{ loader.id }}</div>
        <div>{{ loader.rps }}</div>
      </div>
    </div>
  </div>
</ng-template>
