@import '../../../../core/styles/variables';

$tabs-scroll-margin: 10 * $ss;

.streams-tabs {
  height: 30 * $ss;
  padding-left: 0;
  display: flex;
  align-items: center;
}

.tab-title {
  white-space: pre;
}

.close-btn {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background: transparent;
  color: $white;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.left-menu {
  flex-grow: 1;
  display: flex;
  min-width: 0;

  .left-btns-wrapper,
  .tabs {
    padding: 7 * $ss 0 7 * $ss;
    display: flex;
  }

  .tabs {
    &:after,
    &:before {
      content: '';
      display: block;
      min-width: $tabs-scroll-margin;
    }
  }

  .perf-scroll-wrap {
    overflow: hidden;
    position: relative;

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 13px;
      width: $tabs-scroll-margin;
      z-index: 1;
    }

    &:before {
      left: 0;
      z-index: 1000;
      background: linear-gradient(275deg, transparent 0%, rgba($body-bg, 1) 50%);
    }

    &:after {
      right: 0;
      background: linear-gradient(90deg, transparent 0%, rgba($body-bg, 1) 50%);
    }
  }
}

.right-menu {
  display: flex;
}

.dropdown-wrapper {
  display: flex;
  position: relative;

  .dropdown-menu {
    padding-bottom: 0;
  }

  .close-all-item {
    padding-bottom: 2 * $ss;
    background: $bg-blue;
    position: sticky;
    bottom: 0;
  }

  .dropdown-item {
    color: $white;
    font-size: $fs-reg;
    padding-right: 5 * $ss;
    padding-left: 10px;

    &,
    a {
      display: flex;
      align-items: center;
    }

    a {
      flex-grow: 1;
      color: inherit;

      &,
      &:hover {
        text-decoration: none;
      }

      svg {
        margin-right: 10px;
      }
    }

    &:hover {
      background: $blue;
    }

    .close-btn {
      margin-left: 10 * $ss;
    }
  }
}

.scroll-dropdown {
  max-height: calc(100vh - #{65 * $ss});
}

perfect-scrollbar ::ng-deep {
  .ps-content {
    min-width: 100%;
    width: fit-content;
  }

  .ps.ps--scrolling-x {
    .ps__rail-x {
      background: transparent;
    }
  }
}

.tab,
.tab a {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.tab {
  user-select: none;

  a {
    color: $table-th;
    font-size: $fs-title;

    &:hover,
    &:active {
      text-decoration: none;
    }

    svg {
      margin-right: 2 * $ss;
    }
  }

  .close-btn {
    margin-left: 3 * $ss;
  }
}

.navigation-btn:not(.timezone):not(.tabs-dropdown-btn).active {
  background: $dark-blue;
  border-bottom: $ss solid $white;
  padding-bottom: 2 * $ss;

  a {
    color: $white;
  }
}

.tab-preview {
  opacity: 0.8;
}

.tab-move-placeholder:not(.active) {
  display: flex;
  border: 1px solid $blue;
}
