.error-messages {
  position: absolute;
  left: -0.2rem;
  bottom: 0rem;
  color: #ffffff;
  background-color: rgb(141, 32, 65);
  padding: 0.1rem 2.4rem;
  min-width: calc(100% + 0.2rem);
  max-height: 1.4rem;
  text-overflow: ellipsis;
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-align: center;
}

.error-message {
  margin-right: 1rem;
}