<app-modal>
  <ng-container title>{{ 'titles.changeName' | translate }} {{ data.name }}</ng-container>
  <form (ngSubmit)="onRenameSubmit()" [formGroup]="renameForm" content id="renameForm">
    <div class="controlWr">
      <label class="btn control-label" for="newName">
        {{ 'forms.newName' | translate }}
      </label>
      <textarea
          autosize
          class="btn input-control"
          formControlName="newName"
          id="newName"
          name="newName"
          rows="1"
          type="text"></textarea>
    </div>
  </form>
  <ng-container footer>
    <button
        [disabled]="this.renameForm.invalid || this.renameForm.pristine"
        class="btn btn-info"
        form="renameForm"
        type="submit">
      {{ 'buttons.rename' | translate }}
    </button>
    <button appModalHideBtn class="btn btn-default last" type="button">
      {{ 'buttons.cancel' | translate }}
    </button>
  </ng-container>
</app-modal>
