<div [class.has-value]="hasValue" class="controlWr datepicker-inputWr">
  <input
      #dp="bsDatepicker"
      (appSafeDatePickerValueChange)="onDateChange($event)"
      [appSafeDatePickerValue]="value"
      [bsConfig]="bsConfig$ | async"
      bsDatepicker
      [disabled]="field?.disabled || inputDisabled"
      [ngClass]="{ 'invalid': inputInvalid, 'btn bs-datepicker datepicker-input': true }"
      id="rangeFromInput"
      triggers="dblclick:click"
      type="text" />
  <button
      (click)="openDropDown()"
      [attr.aria-expanded]="dp.isOpen"
      class="btn btn-navy btn-from"
      [disabled]="field?.disabled || inputDisabled"
      type="button"></button>
  <div *ngIf="clearBtn" (click)="clear()" class="clear-btn" ></div>
</div>
