<div [class.has-value]="hasValue" class="controlWr datepicker-inputWr">
    <input
      [value]="valueInInput"
      (input)="onInputValueChange($event)"
      [name]="field?.name"
      [disabled]="field?.disabled || inputDisabled"
      [ngClass]="{ 'invalid': inputInvalid, 'btn bs-datepicker datepicker-input': true }" />
    <input
      #dp="bsDatepicker"
      (appSafeDatePickerValueChange)="onDateChange($event)"
      [appSafeDatePickerValue]="value"
      [bsConfig]="bsConfig$ | async"
      [name]="field?.name"
      bsDatepicker
      triggers="dblclick:click"
      [ngStyle]="{ 'visibility': 'hidden', 'max-width': '0px' }" />

  <button
      (click)="openDropDown()"
      class="btn btn-navy btn-from"
      [disabled]="field?.disabled || inputDisabled"
      type="button"></button>
  <div *ngIf="clearBtn" (click)="clear()" class="clear-btn" ></div>
</div>
