@font-face{
    font-family: 'Archivo Narrow';
    src: url('/assets/Archivo_Narrow/ArchivoNarrow-Regular.ttf');
}

@font-face{
    font-family: 'Questrial';
    src: url('/assets/Questrial/Questrial-Regular.ttf');
}