@import 'src/app/core/styles/variables';

.export-file-content {
  width: 268 * $ss;
}

.config-row {
  margin-bottom: 7.5 * $ss;

  label {
    width: 36 * $ss;
    text-align: right;
    padding-right: 5 * $ss;
  }
}

accordion {
  margin-top: 2rem;
}

.form-group {
  margin-top: 2rem;
}

.form-check {
  margin-top: 0.3rem;
  .form-check-label {
    margin-top: 0.15rem;
  }
}

.validation-error {
  flex: 1;
  text-align: center;
  color: rgb(254, 97, 115);
  display: flex;
  justify-content: center;
  div:first-of-type {
    margin: 0 1rem;
  }
}

app-date-range-picker ::ng-deep .datepicker-input {
  width: 113 * $ss;
}