@import '~src/app/pages/streams/components/filters-panel/filters-panel.component';

.btn:not(:disabled):not(.disabled) {
  cursor: auto;
}

.datepicker-inputWr .btn.datepicker-input {
  z-index: 1;
  overflow: hidden;
  padding-right: (15+7.5) * $ss;
  white-space: nowrap;
  text-transform: none;
  text-overflow: ellipsis;

  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.btn-from {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  &:before {
    content: url("data:image/svg+xml; utf8, <svg style='color:white;' xmlns='http://www.w3.org/2000/svg' height='16' viewBox='0 0 24 24' width='16' fill='none' stroke='currentcolor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'><path d='M22 3H7c-.69 0-1.23.35-1.59.88L0 12l5.41 8.11c.36.53.9.89 1.59.89h15c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-3 12.59L17.59 17 14 13.41 10.41 17 9 15.59 12.59 12 9 8.41 10.41 7 14 10.59 17.59 7 19 8.41 15.41 12 19 15.59z'/></svg>");
    cursor: pointer;
  }
}
