<app-resizable [minWidth]="800" [minHeight]="minHeight" [storageKey]="'file-import-modal-size'" 
  [contentClassName]="'import-file-content'" [contentHeightDifference]="170" [modalBodyHeightDifference]="120">
  <app-modal>
    <ng-container title>
      {{ 'importFromFile.title.importFromTextFile' | translate }}
      <span *ngIf="streamInput || currentStreamId" class="stream-title">
        to <b>{{ streamInput ?? currentStreamId }}</b>
      </span>
      <ng-container *ngIf="timebases$ | async as timebases">
        <select *ngIf="timebases.length > 1" class="db-selector"
                [class.db-selector-error]="selectedTbUnavailable"
                [disabled]="!isOnFirstStep"
                (change)="onTbChange($event.target['value'])">
          <option *ngFor="let tb of timebases" [value]="tb.id" [selected]="tb.id === tbId"
                  [disabled]="tb.connected === false"
                  [title]="tb.connected === false ? (tb.errorMessage || 'Timebase is unavailable') : null">{{ tb.id }}{{ tb.connected === false ? ' (unavailable)' : '' }}</option>
        </select>
        <span *ngIf="timebases.length === 1 && tbId" class="db-indicator" [class.db-selector-error]="selectedTbUnavailable">{{ tbId }}</span>
      </ng-container>
      <span *ngIf="selectedTbUnavailable" class="db-selector-hint">Selected timebase is unavailable.</span>
    </ng-container>
    <div class="import-file-content" content>
      <ng-container *ngIf="importStepIs(TextFileImportStepsEnum.uploading)">
        <div *ngIf="!streamInput" class="form-group">
          <div [ngStyle]="{ 'width': importToExistingStream ? '100%' : '90%' }">
            <label>{{ 'importFromFile.labels.stream' | translate }}</label>
            <deltix-ng-autocomplete
              (changeInput)="onStreamChange($event)"
              [values]="autocomplete$ | async"
              [placeholder]="'importFromFile.placeholders.stream' | translate"
              cssClass="in-modal"
              [formControl]="streamNameControl"
              [invalid]="!!validationErrorMessages.stream">
            </deltix-ng-autocomplete>
          </div>
          <div *ngIf="!importToExistingStream" class="version-and-df">
            <div>
              <label>{{ 'importFromFile.labels.version' | translate }}</label>
              <app-multi-select
                class="version-select"
                [items]="versionOptions"
                [single]="true"
                [search]="false"
                [flat]="true"
                [formControl]="versionControl"
              ></app-multi-select>
            </div>
            <div>
              <label class="inline-label">{{ 'importFromFile.labels.distributionFactor' | translate }}</label>
              <deltix-ng-autocomplete 
                [values]="distributionFactorOptions"
                (changeInput)="distributionFactorChange($event)"
                [single]="true"
                [search]="false"
                [flat]="true"
                cssClass="in-modal"
                [formControl]="distributionFactorControl"
                [disabled]="distributionFactorControlDisabled$ | async"
                [invalid]="distributionFactorControlInvalid">
              </deltix-ng-autocomplete>
            </div>
          </div>
        </div>
        <app-upload-file 
          [invalid]="!!validationErrorMessages.file" [fileButtonsDisabled]="nextButtonDisabled" [stream]="streamInput" 
          #uploadFile (fileListChanged)="fileListChanged()" ></app-upload-file>
      </ng-container>
      <app-new-stream-schema *ngIf="importStepIs(TextFileImportStepsEnum.schema)" (schemaChanged)="setSchemaChanged()">
      </app-new-stream-schema>
      <app-set-up-parameters *ngIf="importStepIs(TextFileImportStepsEnum.parametersSetting)"></app-set-up-parameters>
      <app-preview *ngIf="importStepIs(TextFileImportStepsEnum.preview)"></app-preview>
      <app-write-mode-and-time-range *ngIf="importStepIs(TextFileImportStepsEnum.timeRange)" 
        (updateValidity)="toggleNextButtonState($event)" #timeRange></app-write-mode-and-time-range>
      <div *ngIf="importStepIs(TextFileImportStepsEnum.importProgress)" class="import-progress-container">
        <ng-container *ngIf="!importError">
          <div class="upload-progress-bar">
            <div [style.width.%]="progress$ | async" class="upload-progress-bar__fill"></div>
            <div class="upload-progress-bar__label">{{ progress$ | async }}%</div>
          </div>
        </ng-container>
        <div *ngIf="messages.length" class="upload-messages" #progressMessages>
          <div *ngFor="let message of messages"
              class="upload-message"
              [class.info]="importProgressTypes.info === message.type"
              [class.warning]="importProgressTypes.warning === message.type"
              [class.error]="importProgressTypes.error === message.type"
          >
            <div class="upload-message__left">{{ message.type }}:</div>
            <div class="upload-message__right">{{ message.message }}</div>
          </div>
        </div>
      </div>
    </div>
    <div footer>
      <div class="error-messages" *ngIf="importStepIs(TextFileImportStepsEnum.uploading)">
        <div *ngFor="let message of validationErrorMessages | keyvalue: originalOrder" class="error-message" 
          [class.error-message-not-empty]="!!message.value">{{ message.value }}</div>
      </div>

      <ng-container *ngIf="!importStepIs(TextFileImportStepsEnum.importProgress); else importProgressFooter">
        <button 
          *ngIf="!importStepIs(TextFileImportStepsEnum.uploading)" 
          (click)="previousStep()" class="btn btn-primary">
          {{ 'importFromFile.back' | translate }}
        </button>
        <button *ngIf="importStepIs(TextFileImportStepsEnum.uploading)" (click)="nextStep()" class="btn btn-primary"
          [disabled]="(noUploadedFiles$ | async) || (noSelectedStream$ | async) || nextButtonDisabled || selectedTbUnavailable ||
            (distributionFactorControlInvalid && !importToExistingStream && !(distributionFactorControlDisabled$ | async))">
            <span *ngIf="!nextButtonDisabled">{{ 'importFromFile.next' | translate }}</span>
            <div *ngIf="nextButtonDisabled" class="uploading-text-and-icon">
              <div>Uploading </div>
              <div class="lds-dual-ring"></div>
            </div>
        </button>
        <button *ngIf="importStepIs(TextFileImportStepsEnum.schema)" (click)="nextStep()" class="btn btn-primary"
          [disabled]="nextButtonDisabled || !(schemaIsValid$ | async)">
          {{ 'importFromFile.next' | translate }}
        </button>
        <button *ngIf="importStepIs(TextFileImportStepsEnum.parametersSetting)" (click)="nextStep()" class="btn btn-primary" 
          [disabled]="(importSettingsAreInvalid() | async) || nextButtonDisabled">
          {{ 'importFromFile.next' | translate }}
        </button>
        <button *ngIf="importStepIs(TextFileImportStepsEnum.preview)" (click)="nextStep()" class="btn btn-primary" 
          [disabled]="invalidMappings().length || nextButtonDisabled">
          {{ 'importFromFile.next' | translate }}
        </button>
        <button *ngIf="importStepIs(TextFileImportStepsEnum.timeRange)" (click)="nextStep()" class="btn btn-primary"
          [disabled]="nextButtonDisabled">
          {{ 'importFromFile.next' | translate }}
        </button>
        <button (click)="closeModal()" class="btn btn-primary">
          {{ 'importFromFile.cancel' | translate }}
        </button>
      </ng-container>

      <ng-template #importProgressFooter>
        <div class="last-import-step-footer">
          <button *ngIf="((importFinished || socketDisconnected) && !importError) || importFinished && importError" 
            (click)="getSummary()" class="btn btn-primary summary-btn" [tooltip]="'importFromFile.logHint' | translate">
            <svg 
              width="18" 
              height="18" 
              fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" 
                clip-rule="evenodd" 
                d="M5.293 9.293a1 1 0 0 1 1.414 0L12 14.586l5.293-5.293a1 1 0 1 1 1.414 1.414l-6 6a1 1 0 0 1-1.414 0l-6-6a1 1 0 0 1 0-1.414z" 
                fill="white"/>
              <path 
                fill-rule="evenodd" 
                clip-rule="evenodd" 
                d="M12 3a1 1 0 0 1 1 1v12a1 1 0 1 1-2 0V4a1 1 0 0 1 1-1zM5 20a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H6a1 1 0 0 1-1-1z" 
                fill="white"/>
            </svg>
            {{ 'importFromFile.downloadLog' | translate }}
          </button>
          <div></div>
          <div class="upload-cancel">
            <ng-container *ngIf="!importError">
              <button *ngIf="!importFinished" (click)="stopImport();" class="btn btn-primary">
                {{ 'importFromFile.back' | translate }}
              </button>
              <button *ngIf="!importFinished" (click)="cancelImport()" class="btn btn-default">
                {{ 'importFromFile.cancel' | translate }}
              </button>
              <button *ngIf="importFinished" (click)="closeModal()" class="btn btn-primary">
                {{ 'importFromFile.close' | translate }}
              </button>
            </ng-container>
            <div class="error-buttons" *ngIf="importError">
              <button (click)="return(false)" class="btn btn-primary">
                {{ 'importFromFile.return' | translate }}
              </button>
              <button (click)="return()" class="btn btn-default">
                {{ 'importFromFile.close' | translate }}
              </button>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </app-modal>
</app-resizable>
