<div *ngIf="!menuLoaded" class="loader"></div>
<div class="d-flex justify-between align-items-center tool-panel">
  <form class="nav-search w-100 flex-shrink-1" id="searchForm">
    <app-streams-list-search></app-streams-list-search>
  </form>
</div>
<!--  <div [class.no-visible]="true" class="streams-total-count">-->
<!--    {{ 'streamsList.totalCount' | translate }}: {{ streamsCount }}-->
<!--  </div>-->
<div class="tabs-container">
  <div class="tabs-wrapper">
    <div (click)="switchTreeView(treeView.id)" [class.active]="treeViewId === treeView.id" *ngFor="let treeView of treeViews">
      {{ treeView.title | translate }}
    </div>
  </div>
  <button
      (click)="collapseAll()"
      [adaptivePosition]="false"
      container="body"
      [tooltip]="'buttons.collapse_all' | translate"
      class="collapse-all-btn">
    <svg
        clip-rule="evenodd"
        fill="currentColor"
        fill-rule="evenodd"
        height="17"
        style="enable-background: new 0 0 512 512"
        version="1.1"
        viewBox="0 0 512 512"
        width="17"
        x="0px"
        xml:space="preserve"
        y="0px">
          <g>
            <path
                class="st0"
                d="M36.6,256c0-10.1,8.2-18.3,18.3-18.3h402.3c10.1,0,18.3,8.2,18.3,18.3s-8.2,18.3-18.3,18.3H54.9
		C44.8,274.3,36.6,266.1,36.6,256z M256,0c10.1,0,18.3,8.2,18.3,18.3v164.6c0,10.1-8.2,18.3-18.3,18.3s-18.3-8.2-18.3-18.3V18.3
		C237.7,8.2,245.9,0,256,0z" />
            <path
                class="st0"
                d="M342.1,96.8c7.1,7.1,7.2,18.7,0,25.9l0,0L269,195.8c-7.1,7.1-18.7,7.2-25.9,0l0,0l-73.1-73.1
		c-7.1-7.2-7.1-18.7,0-25.9c7.2-7.1,18.7-7.1,25.9,0L256,157l60.2-60.2C323.3,89.6,334.9,89.6,342.1,96.8L342.1,96.8z M256,512
		c10.1,0,18.3-8.2,18.3-18.3V329.1c0-10.1-8.2-18.3-18.3-18.3s-18.3,8.2-18.3,18.3v164.6C237.7,503.8,245.9,512,256,512z" />
            <path
                class="st0"
                d="M342.1,415.2c7.1-7.1,7.2-18.7,0-25.9l0,0L269,316.2c-7.1-7.1-18.7-7.2-25.9,0l0,0l-73.1,73.1
		c-7.1,7.2-7.1,18.7,0,25.9c7.2,7.1,18.7,7.1,25.9,0L256,355l60.2,60.2C323.3,422.4,334.9,422.4,342.1,415.2L342.1,415.2z" />
          </g>
        </svg>
  </button>
</div>
<div *ngIf="menuLoaded" class="streams-navigation">
  <cdk-virtual-scroll-viewport *ngIf="menu.length" [itemSize]="22" perfectScrollbar>
    <div class="sidebar-menu">
      <ul *ngIf="menu">
        <li
            *cdkVirtualFor="let menuItem of flatMenu; trackBy: trackMenuItem"
            [style.padding-left.px]="15 * menuItem.level">
          <app-menu-item-context-menu [activeTabType]="activeTabType" [item]="menuItem"
            (contextmenu)="closeOtherDropdowns()">
            <i
                (click)="toggleMenuItem($event, menuItem, menuItem.path)"
                [class.open]="menuItem.children?.length"
                [class.visible]="menuItem.childrenCount"
                class="sidebar-arrow"></i>
            <a
                (keydown)="toggleMenuItemWithKeys($event, menuItem, menuItem.path)"
                [appStreamsNavigationActive]="menuItem.id"
                [queryParams]="menuItem | streamsNavigationParams: activeTabType"
                [routerLink]="menuItem | streamsNavigationUrl: activeTabType"
                class="menu-item-link" 
                [class.selected-item]="selectedItem === menuItem.name || streamSelectedForImport === menuItem.name"
                tabindex="0">
                  <span
                      [adaptivePosition]="false"
                      [delay]="700"
                      [tooltip]="menuItem.name"
                      class="menu-item-title"
                      container="body"
                      placement="top">
                    {{ menuItem.name }}
                  </span>
              <span *ngIf="menuItem.childrenCount" class="children-count"
              >({{ menuItem.childrenCount }})</span>
              <span class="loader view-loader" *ngIf="menuItem.viewMd" [class.visible]="menuItem?.viewMd.state === 'PROCESSING'"></span>
            </a>
          </app-menu-item-context-menu>
        </li>
      </ul>
    </div>
  </cdk-virtual-scroll-viewport>
  <div *ngIf="menuLoaded && !menu.length" class="empty-text">
    {{ emptyListTitle$ | async }}
  </div>
</div>
<app-sidebar-context-menu [activeTabType]="activeTabType"></app-sidebar-context-menu>
