input[type=text], .preview {
  margin-top: 0.5rem;
}

.col-md-4 {
  margin-top: 0.5rem;
  text-align: right;
}

h5 {
  background-color: rgba(128, 128, 128, 0.5);
  padding: 0.3rem;
}

.pattern-section {
  border-bottom: 1px solid rgb(99, 99, 99);
  padding: 0.2rem 2rem 1rem;
}

.mapping-section {
  padding: 0rem 2rem 1rem;
  .col-md-8 {
    margin-top: 0.5rem;
  }
}

label {
  margin-top: 0.1rem;
}

.use-case-insensitive-checkbox {
  margin-top: 0.1rem;
}