@import 'src/app/core/styles/variables';

.playback-controls {
  position: relative;
  z-index: 999;
  background-color: rgb(28, 40, 56);
  text-align: center;
  border: 1px solid rgb(108, 139, 176);
  border-radius: 0.2rem;
  width: 24rem;
  height: 9.3rem;
  box-shadow: rgb(31, 82, 111) 1.95px 1.95px 2.6px;
}

.pinned-playback-controls {
  @extend .playback-controls;
  width: 270px;
  height: 2.5rem;
  box-shadow: none;
  margin: 0.05rem;

  &.active {
    background-color: #17a3b854;
  }
}

.progress-bar-and-controls {
  padding: 0.1rem;
  display: flex;
  margin: 0rem 0.3rem;
  align-items: center;
  max-height: 2.63rem;
}

h4 {
  text-align: left;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  position: relative;
}

h6 {
  margin-bottom: 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.7rem;
  margin-right: 0.1rem;
}

.stream-name {
  width: 43%;
  overflow: hidden;
  font-size: 11.5px;
  max-height: 1.7rem;
  text-overflow: ellipsis;
}

.header-and-stream-names {
  display: flex;
  background-color: rgb(31, 82, 111);
}

.tartet-source-streams {
  color: white;
  font-size: 11.5px;
  text-transform: uppercase;
  padding-top: 0.4rem;
  div {
    text-align: left;
    width: 11.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

button {
  width: 2.3rem;
  height: 2.3rem;
  border: 1px solid white;
  border-radius: 50%;
  background-color: transparent;
  margin: 0.5rem;
  padding: 0.2rem;
  &:disabled {
    color: gray;
    border-color: gray;
    background-color: #8080804d;
  }
}

.pinned-stream-names-and-progress {
  min-width: 145px;
  flex-basis: 145px;
}

.pinned-control-button {
  @extend button;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0rem 0.2rem;
  padding: 0rem;
  &.skip, &.pause {
    svg {
      margin-top: -0.1rem;
    }
  }
}

.pinned-button-container {
  white-space: nowrap;
  padding-top: 0.2rem;
  text-align: left;
  margin-top: -0.5rem;
}

.play-pause-btn {
  @extend button;
  width: 3rem;
  height: 3rem;
}

.close-btn {
  border: none;
  width: 0.8rem;
  height: 0.8rem;
  top: -0.2rem;
  right: 0.4rem;
}

.pin-btn {
  position: absolute;
  border: none;
  background-color: transparent;
  width: 1.5rem;
  height: 1.5rem;
  top: 0rem;
  right: 1.2rem;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.open-playback-btn {
  @extend .pin-btn;
  position: static;
  margin: 0rem;
  padding: 0.05rem;
  opacity: 1;
  &:disabled {
    background-color: transparent;
  }
}

.upload-progress-bar {
  margin: 1.3rem 0.5rem 0.5rem;
  min-height: 6px;
  width: calc(100% - 1rem);
  background-color: rgb(31, 82, 111);
  border-radius: 4px;
  overflow: hidden;
  position: relative;

  &, &__fill {
    height: 6px;
  }

  &__fill {
    background-color: $blue;
  }
}

.pinned-upload-progress-bar {
  @extend .upload-progress-bar;
  margin: 0.2rem 0rem;
  min-height: 4px;
  width: 100%;
  &, &__fill {
    height: 4px;
  }
  &.active {
    background-color: rgb(24, 63, 86);
  }
}

:host ::ng-deep app-multi-select {
  width: 4rem;
  margin-left: 1rem;
  .header {
    min-height: 1rem;
  }
}

.control-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-svg {
  margin-left: 0.2rem;
}

.stop-svg {
  margin-bottom: 0.1rem;
}

.permanence-input {
  margin-top: 0.2rem;
  margin-left: 1rem;
  div {
    font-size: 10px;
    margin-top: -0.15rem;

    &.unchecked {
      color: rgba(128, 128, 128, 0.9);
    }
  }
}

.toggle-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.toggle-button {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 13px;
  margin: 0 0.5rem;
  vertical-align: top;
  background: #ffffff96;
  border: 1px solid #ffffffbe;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
  &.unchecked {
    background: rgba(128, 128, 128, 0.9);
  }
}

.toggle-button::after {
  content: "";

  display: inline-block;
  position: absolute;
  left: 2px;
  top: 2px;

  width: 9px;
  height: 9px;
  background-color: rgb(39, 56, 77);
  border-radius: 50%;

  transform: translateX(0);
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button:checked::after {
  transform: translateX(calc(100% + 1px));  
}