@import 'src/app/core/styles/variables';

:host {
  display: inline-flex;
  align-items: center;
}

label {
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin: 0 5 * $ss 0 0;
}

input[type='file'] {
  position: absolute;
  visibility: hidden;
}
