<div class="cl-control-panel">
  <button
      (click)="onAskToAdd()"
      [disabled]="(iSchemaItemsEdited | async).newClassAdding"
      class="btn btn-sm btn-outline-success"
      type="button">
    {{ 'buttons.newClass' | translate }}
  </button>

  <div class="btn-group">
    <button type="button" class="btn btn-sm btn-outline-success dropdown-toggle" 
      [disabled]="!availableClasses.length" (click)="toggleBuiltInClassList()">
      {{ 'buttons.builtIn' | translate }}
    </button>
    <div #builtInClassDropdown class="dropdown-items">
      <ul>
        <li *ngFor="let builtInClass of builtInClassesList">
          <button class="dropdown-item" (click)="openConfirmModal(builtInClass)"
            [disabled]="!availableClasses.includes(builtInClass)"
            [class.disabled]="!availableClasses.includes(builtInClass)">{{ builtInClass }}</button>
        </li>
      </ul>
    </div>
  </div>

  <button
      (click)="onAskToAdd(true)"
      [disabled]="(iSchemaItemsEdited | async).newEnumAdding"
      class="btn btn-sm btn-outline-warning"
      type="button">
    {{ 'buttons.newEnum' | translate }}
  </button>
  <div class="spacer"></div>
  <button
      (click)="onAskDeleteSelected()"
      [disabled]="!(selectedItem$ | async)"
      [title]="'titles.removeSelectedItem' | translate"
      class="btn btn-sm btn-outline-danger d-flex justify-content-center align-items-center delete-selected-btn"
      type="button">
    {{ 'buttons.removeSelected' | translate }}
  </button>
</div>

<ng-template #modalTemplate>
  <div class="modal-body">
    <span>{{ requestMessage }}</span>
    <ng-container *ngIf="associatedItems.length">
      <ul *ngIf="removingType === 'class'">
        <li *ngFor="let associatedItem of associatedItems">
          class <span class="class-title">{{ associatedItem[0] }}</span> field 
          <span class="field-title">{{ associatedItem[1] }}</span>
        </li>
      </ul>
      <ul *ngIf="removingType === 'enum'">
        <li *ngFor="let associatedItem of associatedItems">
          <span class="field-title">{{ associatedItem[1] }}</span>
          of class <span class="class-title">{{ associatedItem[0] }}</span>
        </li>
      </ul>
    </ng-container>
  </div>
  <div class="modal-footer d-flex justify-content-end">
    <button
        (click)="onDeleteSelected()"
        aria-label="Close"
        class="btn btn-danger pull-right"
        type="button">
      <span aria-hidden="true">{{ 'buttons.remove' | translate }}</span>
    </button>
    <button
        (click)="deleteModalRef.hide()"
        aria-label="Close"
        class="btn btn-outline-light pull-right"
        type="button">
      <span aria-hidden="true">{{ 'buttons.cancel' | translate }}</span>
    </button>
  </div>
</ng-template>

<ng-template #modalNewItemTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{ (askToAddInitialState.isEnum ? 'text.addNewEnum' : 'text.addNewClass') | translate }}
    </h4>
  </div>
  <div class="modal-body">
    <form
        (ngSubmit)="onAddClass(askToAddInitialState.isEnum)"
        [formGroup]="nameForm"
        class="form-horizontal props-form nameForm"
        id="nameForm">
      <ng-template [ngIf]="!askToAddInitialState.isEnum">
        <div class="controlWr">
          <label class="btn control-label" for="parentNameSelector">
            {{ 'forms.parenClass' | translate }}
          </label>
          <select
              class="form-control"
              formControlName="parentName"
              id="parentNameSelector"
              name="parentName">
            <option [ngValue]="null"></option>
            <option *ngFor="let opt of classNames$ | async" [ngValue]="opt">{{ opt }}</option>
          </select>
        </div>
      </ng-template>
      
      <div class="controlWr">
        <label class="btn control-label" for="nameInput">
          {{ 'forms.newName' | translate }}
        </label>
        <input
            class="btn input-control"
            formControlName="name"
            id="nameInput"
            name="name"
            type="text" />
      </div>
      <span
          *ngIf="isNameForbidden()"
          class="alert alert-danger my-1 p-2 fadeInDown animated validation-error">
        {{ 'forms.validators.nameExists' | translate }}
      </span>
      
      <ng-template [ngIf]="!askToAddInitialState.isEnum">
        <div class="controlWr">
          <div class="form-group d-flex align-items-start controlWr">
            <label class="form-control-label btn control-label" for="isUsedInput">
              {{ 'forms.editTypeItem.isUsed' | translate }}
            </label>
            <div class="form-control-wr">
              <div class="form-control-cb-wr">
                <label class="form-control-cb">
                  <input formControlName="isUsed" id="isUsedInput" name="isUsed" type="checkbox" />
                  <span class="form-control-cb-indicator"></span>
                  <span class="form-control-cb-focus-indicator"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <div class="controlWr">
        <label class="btn control-label" for="titleInput">
          {{ 'forms.editTypeItem.title' | translate }}
        </label>
        <input
            class="btn input-control"
            formControlName="title"
            id="titleInput"
            name="title"
            type="text" />
      </div>
    </form>
  </div>
  <div class="modal-footer d-flex justify-content-end">
    <button
        [disabled]="nameForm.invalid || nameForm.pristine"
        aria-label="Close"
        class="btn btn-danger pull-right"
        form="nameForm"
        type="submit">
      <span aria-hidden="true">{{ 'buttons.add' | translate }}</span>
    </button>
    <button
        (click)="newItemModalRef.hide()"
        aria-label="Close"
        class="btn btn-outline-light pull-right"
        type="button">
      <span aria-hidden="true">{{ 'buttons.cancel' | translate }}</span>
    </button>
  </div>
</ng-template>
