<div class="details-stream-wrap full-height-page">
  
  <as-split
      [appSplitterSizes]="[75, 25]"
      [minSizes]="[586, 350]"
      [parentWidthAddon]="62"
      [useStorage]="false"
      [direction]="'horizontal'"
  >
    <as-split-area [order]="1">
      <div class="col-md-12 d-stream page-block-wrapper">
        <div *ngIf="activeTab$ | async as activeTab" class="col-md-12 page-block">
          <div *ngIf="!(error$ | async)" [class.hide]="activeTab.schema" class="d-flex">
            <app-filters-panel
                [hideTimePicker]="activeTab.live"
                class="d-flex w-100"></app-filters-panel>
          </div>
          <div [class.hide-filters]="activeTab.schema || (error$ | async)" class="grid-wr">
            <div *ngIf="error$ | async as errorMessage" class="error-message">
              <div class="error-message__text">
                {{ errorMessage }}
              </div>
              <button (click)="closeTab()" class="btn btn-default">
                {{ 'buttons.closeTab' | translate }}
              </button>
            </div>
            <div [class.hidden]="error$ | async" class="component-wrapper">
              <ng-container *ngIf="activeTab.live">
                <app-streams-grid-live class="h-100"></app-streams-grid-live>
              </ng-container>
              
              <ng-container
                  *ngIf="
                  !activeTab.live && !activeTab.schema && !activeTab.chart && !activeTab.query
                ">
                <app-stream-view-reverse class="h-100"></app-stream-view-reverse>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </as-split-area>
    <as-split-area [order]="2">
      <app-right-area [showOrderBook]="!live"></app-right-area>
    </as-split-area>
  </as-split>
  <app-right-toolbar></app-right-toolbar>
</div>
