@import '~src/app/core/styles/variables';

.details-stream-wrap {
  display: flex;

  .d-stream {
    padding-right: 0;
    padding-left: 0;
  }
}

.no-padding-left {
  padding-left: 0;
}

.grid-wr {
  position: absolute;
  top: (2 + 1.5 * 1.2) * 1rem;
  right: 7.5 * $ss;
  bottom: 7.5 * $ss;
  left: 7.5 * $ss;
  display: flex;
  flex-direction: column;

  &.hide-filters {
    top: 1rem;
  }
}

.error-message {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10 * $ss;
  color: $white;

  &__text {
    margin-bottom: 10 * $ss;
  }
}

.grid {
  position: relative;
  width: 100%;
  flex-shrink: 1;
}

.timeline-bar-wr {
  position: relative;
  height: 100%;
  width: 15 * $ss;
  flex-shrink: 0;
  margin-left: 7.5 * $ss * 0.5;
}

.hide {
  display: none !important;
}

.w-100 {
  width: 100%;
}

.component-wrapper {
  flex-grow: 1;

  &.hidden {
    display: none;
  }
}
