@deltix:registry=https://nexus.deltixhub.com/repository/epm-rtc-npm/
//nexus.deltixhub.com/repository/epm-rtc-npm/:_password="${NPM_PASSWORD}"
//nexus.deltixhub.com/repository/epm-rtc-npm/:username=${NPM_USER}
//nexus.deltixhub.com/repository/epm-rtc-npm/:email=developer@deltixlab.com
//nexus.deltixhub.com/repository/epm-rtc-npm/:always-auth=true
