{
    "/api/v0/": {
        "target": "http://pc21:8991",
        "secure": false
    },
    "/oauth": {
       "target": "http://localhost:8990"
    },
    "/websocket": {
        "target": "http://pc21:8991",
        "secure": false,
        "ws": true
    }
}

