@import '~src/app/pages/streams/components/stream-details/stream-details.component';

.diff-view {
  position: relative;
  display: block;
  box-sizing: border-box;
  height: 100%;
  padding: 0 5 * $ss 10 * $ss;

  .class-details {
    border-radius: 4 * $ss;
  }
}

.class-list-section {
  position: relative;
  display: block;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  padding-bottom: 10 * $ss;
}

.class-list-wr {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5 * $ss;
  border-radius: 4 * $ss;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: $nav-bg;
}

.types-list-grid {
  position: relative;
  display: block;
  flex-grow: 1;
}

.class-detailsWr {
  position: relative;
  display: block;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  padding-right: 5 * $ss;
  padding-bottom: 10 * $ss;
}

.as-split-area {
  position: relative;
}

.class-details {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5 * $ss;
  border-radius: 0;
  background: $nav-bg;

  &.top-right-corner {
    border-top-right-radius: 4 * $ss;
  }

  &.bottom-right-corner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    border-bottom-right-radius: 4 * $ss;
    padding: 0;
  }
}

.class-details {
  display: flex;
  flex-direction: column;

  app-fields-list {
    flex-grow: 1;
  }
}

.save-btn {
  padding: 0 4 * $ss;
  position: sticky;
  right: 5 * $ss;
}

.send-schema-btn {
  padding: 0 4 * $ss;
  font-size: 6 * $ss;
  line-height: 10 * $ss;
  position: absolute;
  right: 5 * $ss;
  bottom: 10 * $ss;
}

.send-schema-btn-wr {
  display: flex;

  & > .btn {
    margin-left: 5 * $ss;
  }
}

::ng-deep {
  .classItem {
    &,
    * {
      color: $success;
    }
  }

  .enumItem {
    &,
    * {
      color: $warning;
    }
  }

  .modal-small .form-control-label {
    width: auto !important;
    //min-width: auto;
  }

  .nameForm {
    .validation-error {
      position: relative;
      display: block;
      width: 100%;
      font-size: 6 * $ss;
    }

    .controlWr {
      display: flex;
      margin-bottom: 8px;
      width: 100%;
      position: relative;

      .btn:not(.btn-from) {
        margin-bottom: 0;
        color: $white;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }

      .control-label {
        display: block;
        line-height: 1.8125rem;
        background-color: $btn-navy;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        flex-shrink: 0;
      }

      .input-control {
        display: block;
        flex-shrink: 1;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        text-align: left;
        width: 100%;
        min-width: 230px;
        font-weight: normal;
        user-select: auto;
        text-transform: none;
        background: $input-bg !important;
      }

      & + .validation-error {
        margin-top: 0;
      }
    }
  }

  app-cl-control-panel,
  app-fl-control-panel {
    margin: 0 0 5 * $ss;
  }

  app-cl-bottom-panel {
    margin: 5 * $ss 0 0;
  }

  app-field-properties,
  app-diff-layout {
    flex-grow: 1;
  }

  .gridWr,
  .grid {
    .ag-row {
      &.isEdited {
        border: 1px solid rgba($warning, 0.95);
      }

      &.hasError {
        &,
        &.classItem * {
          color: $danger;
        }
      }
    }
  }
}
