<div
    [ngClass]="{ newStream: currentTab && currentTab.streamCreate }"
    class="details-stream-wrap full-height-page">
  <ng-template *ngIf="(streamDetails | async).errorMessage">
    <p class="error-message">
      <span [title]="(streamDetails | async).errorMessage" class="error-message-text">
        {{ (streamDetails | async).errorMessage }}
      </span>
      <button
          (click)="onHideErrorMessage()"
          [title]="'buttons.removeNotification' | translate"
          class="btn close-btn">
        X
      </button>
    </p>
  </ng-template>
  <as-split
      (dragEnd)="onAreaSizeChange($event)"
      *ngIf="showClassListGrid$ | async"
      [appSplitterSizes]="[50, 50]"
      [minSizes]="[480, 470]"
      [storageKey]="'schemaEditor' + (activeTab | async)?.id"
      direction="horizontal">
    <as-split-area [order]="1">
      <div class="col-md-12 class-list-section">
        <div class="class-list-wr">
          <app-cl-control-panel *ngIf="isWriter$ | async"></app-cl-control-panel>
          <app-class-list-grid class="types-list-grid" (addNewItemEvent)="addNewItemToClassList($event)"></app-class-list-grid>
          <app-cl-bottom-panel *ngIf="isWriter$ | async"></app-cl-bottom-panel>
        </div>
      </div>
    </as-split-area>
    <as-split-area [order]="2">
      <div class="col-md-12 class-detailsWr">
        <as-split [direction]="'vertical'">
          <ng-template [ngIf]="selectedSchemaItem$ | async">
            <as-split-area [order]="3" [size]="50">
              <div class="class-details top-right-corner">
                <app-fl-control-panel *ngIf="isWriter$ | async"></app-fl-control-panel>
                <app-fields-list (addNewFieldEvent)="addNewItemToFieldsList($event)"></app-fields-list>
              </div>
            </as-split-area>
            <as-split-area [order]="4" [size]="50">
              <div class="class-details bottom-right-corner">
                <app-field-properties></app-field-properties>
              </div>
            </as-split-area>
          </ng-template>
          <ng-template [ngIf]="!(selectedSchemaItem$ | async)">
            <as-split-area [order]="4" [size]="50">
              <div class="class-details bottom-right-corner"></div>
            </as-split-area>
          </ng-template>
        </as-split>
        <div *ngIf="!(getSchemaDiff$ | async)" class="save-btn-container" save-btn>
          <button
              (click)="onAskToCreateStream()"
              *ngIf="(isSchemaEdited$ | async) && currentTab?.streamCreate"
              [disabled]="hasSchemaError$ | async"
              [ngClass]="createStreamBtnClass$ | async"
              class="btn save-btn"
              type="button">
            {{ 'buttons.create' | translate }} >
          </button>
          <button
              (click)="onAskChanges()"
              *ngIf="(isSchemaEdited$ | async) && currentTab && !currentTab.streamCreate"
              [disabled]="hasSchemaError$ | async"
              class="btn save-btn btn-success"
              type="button">
            {{ 'buttons.next' | translate }} >
          </button>
        </div>
      </div>
    </as-split-area>
  </as-split>
  <div *ngIf="getSchemaDiff$ | async" class="col-md-12 diff-view">
    <div class="class-details">
      <app-diff-layout></app-diff-layout>
    </div>

    <div *ngIf="getSchemaDiff$ | async" class="send-schema-btn send-schema-btn-wr no-padding-right">
      <button (click)="onBackToEditor()" class="btn btn btn-primary" type="button">
        < {{ 'buttons.back' | translate }}
      </button>
      <button (click)="onAskSaveChanges()" class="btn btn btn-success" type="button">
        {{ 'buttons.finish' | translate }} >
      </button>
    </div>
  </div>
</div>

<ng-template #modalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ 'text.onCreateStream' | translate }}</h4>
  </div>
  <div class="modal-body">
    {{ 'text.askToCreateStream' | translate: {streamName: streamName} }}
  </div>
  <div class="modal-footer d-flex justify-content-end">
    <button
        (click)="onCreateStream()"
        aria-label="Close"
        class="btn btn-success pull-right"
        type="button">
      <span aria-hidden="true">{{ 'buttons.create' | translate }}</span>
    </button>
    <button
        (click)="newItemModalRef.hide()"
        aria-label="Close"
        class="btn btn-outline-light pull-right"
        type="button">
      <span aria-hidden="true">{{ 'buttons.cancel' | translate }}</span>
    </button>
  </div>
</ng-template>

<ng-template #saveSchemaChangesModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ 'text.onChangeSchema' | translate }}</h4>
  </div>
  <div class="modal-body">
    {{ 'text.askToSaveStreamSchema' | translate: {streamName: streamName} }}
  </div>
  <div class="modal-footer d-flex justify-content-end">
    <button
        (click)="onSaveChanges()"
        [disabled]="ifSaveChangesDisabledButtons()"
        aria-label="Close"
        class="btn btn-success pull-right"
        type="button">
      <span aria-hidden="true">{{ 'buttons.apply' | translate }}</span>
    </button>
    <button
        (click)="onSaveChanges(true)"
        [disabled]="ifSaveChangesDisabledButtons()"
        aria-label="Close"
        class="btn btn-success pull-right"
        type="button">
      <span aria-hidden="true">{{ 'buttons.applyInBackground' | translate }}</span>
    </button>
    <button
        (click)="saveChangesModalRef.hide()"
        aria-label="Close"
        class="btn btn-outline-light pull-right"
        type="button">
      <span aria-hidden="true">{{ 'buttons.cancel' | translate }}</span>
    </button>
  </div>
</ng-template>
