<div *ngIf="selectedNodeView$ | async as selectedNodeView" class="detailWr">
  <div class="detailsHeader">
    <h4 class="detailsName">
      <span class="font-weight-normal">[{{ selectedNodeView.class }}] </span>
      <span [style.color]="selectedNodeView.metadata.color">{{ selectedNodeView.name }}</span>
    </h4>
  </div>
  <div class="tabs-container">
    <div class="tabs-wrapper">
      <div (click)="switchShowConnections('incoming')" [class.active]="(showConnections$ | async) === 'incoming'" *ngIf="!!selectedNodeView.incomingConnections.length">
        {{ 'titles.flow.incomingConnections' | translate }}
      </div>
      <div (click)="switchShowConnections('outgoing')" [class.active]="(showConnections$ | async) === 'outgoing'" *ngIf="!!selectedNodeView.outgoingConnections.length">
        {{ 'titles.flow.outgoingConnections' | translate }}
      </div>
    </div>
  </div>
  <div class="list-wrapper">
    <div class="list-wrapper__inner">
      <app-connection-details
          *ngFor="let connection of displayConnections$ | async"
          [nodeConnection]="connection"
      ></app-connection-details>
    </div>
  </div>
</div>
