@import '~src/app/core/styles/variables';

app-modal {
  display: block;
  width: 660px;

  ::ng-deep .modal-body {
    padding-top: 0;
  }
}

.content {
  margin-top: 10px;
}

ngx-monaco-editor {
  min-height: 400px;
}

.json-edit-btns {
  margin-bottom: 10px;

  button {
    margin-right: 10px;
  }
}

.footer {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.top-button-groups {
  display: flex;
  justify-content: space-between;
}
