@import '~src/app/core/styles/variables';

app-modal {
  display: block;
  width: 660px;

  ::ng-deep .modal-body {
    padding-top: 0;
  }
}

.content {
  margin-top: 10px;
}

ngx-monaco-editor {
  min-height: 400px;
}

.json-edit-btns {
  margin-bottom: 10px;

  button {
    margin-right: 10px;
  }
}

.footer {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.top-button-groups {
  display: flex;
  justify-content: space-between;
}

:host {
  position: relative;
}

.request-in-progress {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(245, 245, 245, 0.1);
  z-index: 1002;
}

.uploading-text-and-icon {
  display: flex;
}

.lds-dual-ring {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.lds-dual-ring:after {
  content: " ";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px 5px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}