@import 'src/app/core/styles/variables';

:host {
  display: block;
  position: relative;
}

.header {
  padding: 2px 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 1.8rem;

  &.disabled {
    background-color: rgba(128, 128, 128, 0.3);
    color: rgb(162, 162, 162);
  }

  &.multiple.has-data {
    padding: 2px 4px;

    .header__right {
      padding-top: 7px;
    }
  }

  &.multiple:not(.has-data) {
    .header__content {
      height: 16px;
      margin-top: -1px;
    }
  }

  &__content {
    flex-grow: 1;
    max-width: calc(100% - 20px);

    .selected-item {
      margin: 0 2px 2px 0;
      padding: 0 3px;
      background: $light-blue;
      font-size: 12px;
      border-radius: 4px;
      display: inline-flex;
      align-items: center;
      max-width: 100%;
      overflow: hidden;

      &__name {
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .remove-icon {
        padding-left: 3px;
        line-height: 0;
        width: 10px;
        height: 12px;
        display: flex;
        align-items: center;
        padding-bottom: 3px;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 6px;
  }

  .caret {
    display: block;
    position: relative;
    right: 0;
    color: $light-gray;
    border-style: solid;
    border-width: 6px 6px 0;
    border-color: $light-gray transparent;
    content: '';
    margin-bottom: 5px;
  }

  .caret.open {
    transform: rotate(180deg);
  }
}

.header,
.dropdown {
  border: 1px solid $input-border;
  border-radius: 4px;
}

.dropdown {
  position: absolute;
  top: 0;
  background-color: $dark-blue;
  z-index: 1050;
  display: flex;
  flex-direction: column;

  &.flat {
    margin-top: 5px;
    border-color: #27384d66;
    background-color: $bg-blue;

    .search, .select-all {
      border-bottom: 1px solid #27384d66;

      input::placeholder {
        opacity: 0.5;
      }
    }

    .checkmark {
      background-color: transparent;
    }

    .option {
      border-bottom: 1px solid #27384d66;
    }
  }

  cdk-virtual-scroll-viewport {
    flex-grow: 1;
  }

  .option {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;

    &.single {
      &:hover, &.selected {
        background: $blue;
      }
    }

    &.childSelected {
      background-color: #1b5c83;
    }

    &.selected {
      .checkmark {
        background-color: $light-blue;

        &::after {
          display: block;
        }
      }
    }

    .child-item-name {
      margin-left: 0.5rem;
    }

    .container-ch {
      padding: 0;
      height: 19px;
      width: 19px;
      margin-right: 10px;
    }
  }
}

.select-all {
  border-bottom: 1px solid $input-border;
}

.search {
  width: 100%;
  border-bottom: 1px solid $input-border;

  input {
    padding: 7px 10px;
    width: 100%;

    &,
    &:focus,
    &::placeholder {
      border: none;
      background: transparent;
      outline: none;
      color: $white;
    }
  }
}

:host.flat-multiselect {
  .header {
    background: $bg-blue;
    border: none;
    padding: 6px;

    &.multiple.has-data {
      padding-bottom: 0.5px;
      padding-top: 3px;
    }

    .caret {
      border-width: 6px 5px 0!important;
      margin-top: 0!important;
    }

    .selected-item {
      margin: 0 4px 3px 0;
    }
  }
}

.single {
  .search {
    padding: 5px 0;
  }
}

.item-name {
  display: flex;
  padding-top: 1px;
  user-select: none;
  white-space: nowrap;
}

.item-icon {
  font-size: 16px;
  font-weight: bolder;
  color: rgb(203, 203, 204);
  min-width: 16px;
  min-height: 16px;
  max-width: 16px;
  max-height: 16px;
  border-radius: 8px;
  text-align: center;
}

.none-icon {
  color: rgb(244, 135, 135);
}

.item-text {
  margin-top: 0.2rem;
  margin-left: 0.4rem;
}