<div [class.has-fields]="fields$ | async" class="module-wrapper props-wr">
  <app-pure-form-builder
      *ngIf="fields$ | async as fields"
      [fields]="fields"
      [form]="formGroup"></app-pure-form-builder>
  <div *ngIf="isWriter$ | async" class="field-properties-bottom">
    <button
        (click)="revert()"
        *ngIf="fields$ | async"
        [disabled]="revertDisabled$ | async"
        class="btn btn-default revert-btn">
      {{ 'buttons.revert' | translate }}
    </button>
  </div>
</div>
