@import '~src/app/core/styles/variables';

.props-wr {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;

  &.has-fields {
    justify-content: space-between;

    .field-properties-bottom {
      justify-content: space-between;
    }
  }
}

::ng-deep {
  .controlWr .control-multiselect-wr ng-multiselect-dropdown.control-multiselect {
    margin-bottom: 0 !important;
  }
}

.field-properties-bottom {
  display: flex;
  justify-content: flex-end;
  padding: 0 5 * $ss 5 * $ss;
  position: sticky;
  bottom: 0;
  background: $dark-blue;

  button {
    position: sticky;

    &.revert-btn {
      left: 5 * $ss;
    }
  }
}

app-pure-form-builder {
  padding: 5 * $ss 5 * $ss 0;
}

.module-wrapper {
  width: fit-content;
  min-width: 100%;
}
