<app-modal>
  <ng-container title>{{ title }}</ng-container>
  <ng-container content>
    <ng-container *ngIf="isStream" >
      <app-multi-select
          *ngIf="dropdownListSymbols$ | async as dropdownListSymbols"
          [formControl]="symbolsControl"
          [items]="dropdownListSymbols"
          placeholder="Symbols"></app-multi-select>
    </ng-container>
    <app-multi-select
        [formControl]="typesControl"
        [items]="dropdownListTypes"
        placeholder="Message Types"></app-multi-select>
  </ng-container>
  <ng-container footer>
    <button
        (click)="clear()"
        [tooltip]="'buttons.clear' | translate"
        class="btn btn-default"
        type="button">
      Clear
    </button>
    <button
        [tooltip]="'buttons.close' | translate"
        appModalHideBtn
        class="btn btn-default last"
        type="button">
      {{ closeBtnName }}
    </button>
  </ng-container>
</app-modal>
