<div class="ag-cell-label-container" [class.dropdown-open]="dropdownOpen">
  <div>
    <i *ngIf="displayName && !(disableColumns$ | async)"
        (click)="onDropDownToggle($event)"
        class="ag-icon ag-icon-menu columns-icon"
    ></i>
  </div>
  <div class="ag-header-cell-label">
    {{ displayName }}
  </div>
</div>

<context-menu menuClass="grid-context-menu" #contextMenu>
  <ng-template contextMenuItem [subMenu]="pinSubMenu">
    <div (mouseenter)="mouseOnPinItem(true)" (mouseleave)="mouseOnPinItem(false)">{{ 'gridMenu.pin' | translate }}</div>
  </ng-template>
  <context-menu menuClass="grid-context-menu grid-column-pin-submenu" #pinSubMenu>
    <ng-template (execute)="pin('left')" contextMenuItem>
      <div class="pin-row">
        <div [class.active]="pinned === 'left'" class="column-check"></div>
        {{ 'gridMenu.pinLeft' | translate }}
      </div>
    </ng-template>
    <ng-template (execute)="pin('right')" contextMenuItem>
      <div class="pin-row">
        <div [class.active]="pinned === 'right'" class="column-check"></div>
        {{ 'gridMenu.pinRight' | translate }}
      </div>
    </ng-template>
    <ng-template (execute)="pin(null)" contextMenuItem>
      <div class="pin-row">
        <div [class.active]="pinned === null" class="column-check"></div>
        {{ 'gridMenu.noPin' | translate }}
      </div>
    </ng-template>
  </context-menu>
  <ng-template passive="true" divider="true" contextMenuItem></ng-template>
  <ng-container *ngFor="let menuItem of columnMenuItems">
    <ng-container *ngIf="menuItem">
      <ng-template (execute)="executeMenuItem(menuItem)" contextMenuItem>
        {{ menuItem.name }}
      </ng-template>
    </ng-container>
    <ng-container *ngIf="!menuItem" >
      <ng-template divider="true" contextMenuItem></ng-template>
    </ng-container>
  </ng-container>
</context-menu>
