<div [class.dropdown-open]="dropdownOpen" class="ag-cell-label-container">
  <div>
    <i
      (click)="onDropDownToggle($event)"
      *ngIf="displayName && !(disableColumns$ | async)"
      class="ag-icon ag-icon-menu columns-icon"></i>
  </div>
  <div class="ag-header-cell-label">
    <span>{{ displayName }}</span>
    <button *ngIf="sortable" class="toggle-sorting-button" (click)="toggleSortingType()">
      <span [ngSwitch]="sorting">
        <span *ngSwitchCase="'none'" class="toggle-sorting-button-arrow">&#8597;</span>
        <span *ngSwitchCase="'ascending'" class="toggle-sorting-button-arrow">&#8593;</span>
        <span *ngSwitchCase="'descending'" class="toggle-sorting-button-arrow">&#8595;</span>
      </span>
    </button>
  </div>
</div>

<context-menu #contextMenu menuClass="grid-context-menu">
  <ng-template [subMenu]="pinSubMenu" contextMenuItem>
    <div (mouseenter)="mouseOnPinItem(true)" (mouseleave)="mouseOnPinItem(false)">
      {{ 'gridMenu.pin' | translate }}
    </div>
  </ng-template>
  <context-menu #pinSubMenu menuClass="grid-context-menu grid-column-pin-submenu">
    <ng-template (execute)="pin('left')" contextMenuItem>
      <div class="pin-row">
        <div [class.active]="pinned === 'left'" class="column-check"></div>
        {{ 'gridMenu.pinLeft' | translate }}
      </div>
    </ng-template>
    <ng-template (execute)="pin('right')" contextMenuItem>
      <div class="pin-row">
        <div [class.active]="pinned === 'right'" class="column-check"></div>
        {{ 'gridMenu.pinRight' | translate }}
      </div>
    </ng-template>
    <ng-template (execute)="pin(null)" contextMenuItem>
      <div class="pin-row">
        <div [class.active]="pinned === null" class="column-check"></div>
        {{ 'gridMenu.noPin' | translate }}
      </div>
    </ng-template>
  </context-menu>
  <ng-template contextMenuItem divider="true" passive="true"></ng-template>
  <ng-container *ngFor="let menuItem of columnMenuItems">
    <ng-container *ngIf="menuItem">
      <ng-template (execute)="executeMenuItem(menuItem)" contextMenuItem>
        {{ menuItem.name }}
      </ng-template>
    </ng-container>
    <ng-container *ngIf="!menuItem">
      <ng-template contextMenuItem divider="true"></ng-template>
    </ng-container>
  </ng-container>
</context-menu>
