:host {
  width: 100%;
}

.filter {
  &, &__item {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }

  label {
    font-size: 1rem;
    white-space: nowrap;
    margin: 0 10px 0 0;
  }

  .filter-type {
    font-size: 0.8rem;
  }

  app-multi-select {
    width: 300px;
  }

  .rps-filter-type {
    margin-right: 10px;
  }
}

.nodes-filter {
  &, app-multi-select {
    flex-grow: 1;
  }
}
