<form class="filter" [formGroup]="form">
  <div class="filter__item">
    <label>{{ 'titles.topology' | translate }}</label>
    <div btnRadioGroup formControlName="topology" class="btn-group radio-group" >
      <button (click)="topologyManuallyChanged()" *ngFor="let topology of topologies" [btnRadio]="topology" class="btn btn-default">
        {{('titles.topologies.' + topology) | translate}}
      </button>
    </div>
  </div>
  <div class="filter__item">
    <label>{{ 'titles.filter_by_RPS' | translate }}</label>
    <div class="rps-filter-type">
      <app-select class="flat-multiselect in-modal"
          [displayValue]="(rpsFilterTypeVal$ | async) | translate"
          [setNull]="false"
          formControlName="rpsType">
        <option *ngFor="let rpsType of rpsTypeValues" [value]="rpsType" appSelectOption>
          {{'dropdownTitles.' + rpsType | translate}}
        </option>
      </app-select>
    </div>
    <deltix-ng-autocomplete
        cssClass="in-modal"
        (changeInput)="onRPSFilterChangeInput($event)"
        (selectItem)="onRPSFilterChangeInput($event)"
        [values]="rpsValues"
        [size]="6"
        [free]="true"
        formControlName="rpsVal"
        maxlength="3">
    </deltix-ng-autocomplete>
  </div>
  <div class="filter__item nodes-filter">
    <label>{{ 'titles.filter' | translate }}: </label>
    <label>{{ 'titles.filter_by_name' | translate }}</label>
    <app-multi-select
        formControlName="nodes"
        placeholder="Select"
        [items]="nodesList$ | async"
        [flat]="true"
    ></app-multi-select>
  </div>
</form>

