<div class="d-flex justify-content-start">
  <form [formGroup]="dataFilterForm" class="filter">
    <label>{{ 'titles.topology' | translate }}</label>
    <div class="ng-multiselect-dropdown flat-multiselect">
      <div class="multiselect-dropdown">
        <div btnRadioGroup formControlName="topologyType" class="btn-group radio-group"  (click)="onTopologySelect()">
          <button *ngFor="let topology of (topologies$ | async); trackBy: topologiesTrackBy" [btnRadio]="topology.type" class="btn btn-default">
            {{('titles.topologies.' + topology.type) | translate}}
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="filter streams-filter">
    <label>{{ 'titles.filter' | translate }}</label>
    <ng-multiselect-dropdown
        (ngModelChange)="onSelectedNodesChanged($event)"
        [(ngModel)]="selectedNodes"
        [class.has-values]="selectedNodes && selectedNodes.length"
        [data]="nodesList$ | async"
        [disabled]="!(nodesList$ | async) || !(nodesList$ | async).length"
        [settings]="dropdownSettings"
        class="flat-multiselect">
    </ng-multiselect-dropdown>
  </div>
</div>

