<div *ngIf="!!((tabSettings$ | async).showProps)" class="col-md-12 stream-props">
  <h4 *ngIf="!isSchema">{{'titles.streamProps' | translate}}</h4>
  <button
      (click)="closeProps()"
      class="btn btn-link close"
      [tooltip]="'buttons.close' | translate"
      container="body"
      [adaptivePosition]="false"
      placement="left"
  >
    <svg fill="none" height="8" id="i-close" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"
      stroke-width="2" viewBox="0 0 32 32" width="8" xmlns="http://www.w3.org/2000/svg">
      <path d="M2 30 L30 2 M30 30 L2 2" />
    </svg>
  </button>
  <div *ngIf="(propsState | async)?.props && !isSchema" class="table-responsive">
    <table class="table">

      <tbody>
        <!--        <ng-container *ngFor="let prop of props.props | keyvalue; trackBy: propsTrack"> TODO: propsTrack - WTF?-->
        <ng-container *ngFor="let prop of propsPublic.props | keyvalue;">
          <tr>
            <th scope="row"> {{ prop.key }} </th>
            <td>
              <ng-container *ngIf="prop.key !== 'periodicity' && prop.key !== 'range' && prop.key !== 'bufferOptions'"> {{ prop.value }}</ng-container>
            </td>
          </tr>
          <ng-container *ngIf="prop.key === 'bufferOptions'">
              <tr *ngFor="let propDown of propsPublic.props.bufferOptions | keyvalue: keyDescOrder;">
                <td> {{ propDown.key }} </td>
                <td>{{ propDown.value }}</td>
              </tr>
            </ng-container>
          <ng-container *ngIf="prop.key === 'range'">
            <tr *ngFor="let propDown of propsPublic.props.range | keyvalue: keyDescOrder;">
              <td> {{ propDown.key }} </td>
              <td>{{ propDown.value }}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="prop.key === 'periodicity'">
            <tr *ngFor="let propDown of propsPublic.props.periodicity | keyvalue;">
              <td> {{ propDown.key }} </td>
              <td>{{ propDown.value }}</td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>

  <div class="table-responsive" *ngIf="isSchema">
    <h4>FIELDS</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Field Name</th>
          <th *ngIf="!selectedRowIsEnum">Field Type</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let f of selectedRowSchemaFields">
          <tr>
            <td>
              {{ f.name }}
            </td>
            <td *ngIf="!selectedRowIsEnum">
              <ng-container *ngIf="f.type && !isArray(f.type)">
                {{ f.type }}
              </ng-container>
            </td>
          </tr>
          <ng-container *ngIf="f.type && isArray(f.type)">
            <ng-container *ngFor="let item of f.type">
              <tr>
                <td>

                </td>
                <td *ngIf="!selectedRowIsEnum">
                    {{ item }}
                </td>

              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
