@import "../../../../core/styles/variables";

.stream-props {
  background: $nav-bg;
  padding-top: calc(7.5 * #{$ss});
  padding-bottom: calc(7.5 * #{$ss});
  border-radius: calc(4 * #{$ss});
  min-height: calc(100vh - 40 * #{$ss});
  overflow: hidden;
  position: relative;
}

.table {
  tr td:first-child {
    padding-left: calc(5 * #{$ss});
  }
}

h4 {
  word-wrap: break-word;
}
