<app-modal>
  <ng-container title>
    {{ 'importFromFile.title.QSMSG' | translate }}
  </ng-container>
  <div [formGroup]="form"  class="import-file-content" content>
    <div class="form-group">
      <label >{{ 'importFromFile.labels.file' | translate }}</label>
      <app-file-btn formControlName="file" [accept]="['.gz', '.zip', '.qsmgs']" >
        {{ 'importFromFile.labels.choseFile' | translate }}
      </app-file-btn>
    </div>
    <div class="form-group">
      <label>{{ 'importFromFile.labels.stream' | translate }}</label>
      <deltix-ng-autocomplete
        cssClass="in-modal"
        formControlName="stream"
        (changeInput)="onStreamChange($event)"
        [values]="autocomplete$ | async">
      </deltix-ng-autocomplete>
    </div>
    <div class="form-group">
      <label>{{ 'importFromFile.labels.description' | translate }}</label>
      <input class="form-control" formControlName="description"/>
    </div>
    <div class="form-group">
      <label>{{ 'importFromFile.labels.symbols' | translate }}</label>
      <app-multi-select-autocomplete
        formControlName="symbols"
        notFoundText="No symbols found"
      ></app-multi-select-autocomplete>
    </div>
    <div class="form-group">
      <div class="form-control-cb-wr">
        <label class="container-ch">
          <input formControlName="setRange" type="checkbox"/>
          <span class="checkmark"></span>
          {{ 'importFromFile.labels.setRange' | translate }}
        </label>
      </div>
    </div>
    <div *ngIf="form.get('setRange').value" class="form-group">
      <div class="range-labels">
        <label>{{ 'importFromFile.labels.startTime' | translate }}</label>
        <label>{{ 'importFromFile.labels.endTime' | translate }}</label>
      </div>
      <app-date-range-picker formControlName="range"></app-date-range-picker>
    </div>
  </div>
  <ng-container footer>
    <button (click)="import()" [disabled]="form.invalid" class="btn btn-primary">
      {{ 'importFromFile.import' | translate }}
    </button>
  </ng-container>
</app-modal>
