<app-modal [withoutCloseBtn]="uploading" [withoutFooter]="uploading">
  <ng-container title>
    {{ 'importFromFile.title.QSMSG' | translate }}
  </ng-container>
  <div [formGroup]="form" class="import-file-content" content>
    <ng-container *ngIf="!uploading">
      <div class="form-group">
        <label>{{ 'importFromFile.labels.file' | translate }}</label>
        <app-file-btn [accept]="['.gz', '.zip', '.qsmsg']" formControlName="file">
          {{ 'importFromFile.labels.choseFile' | translate }}
        </app-file-btn>
      </div>
      <div class="form-group">
        <label>{{ 'importFromFile.labels.stream' | translate }}</label>
        <deltix-ng-autocomplete
            (changeInput)="onStreamChange($event)"
            [values]="autocomplete$ | async"
            cssClass="in-modal"
            formControlName="stream">
        </deltix-ng-autocomplete>
      </div>
      <div class="form-group">
        <label>{{ 'importFromFile.labels.description' | translate }}</label>
        <input class="form-control form-control--flat" formControlName="description" />
      </div>
      <div class="form-group">
        <label>{{ 'importFromFile.labels.symbols' | translate }}</label>
        <app-multi-select-autocomplete
            cssClass="flat-select"
            formControlName="symbols"
            notFoundText="No symbols found"
        ></app-multi-select-autocomplete>
      </div>
      <div formGroupName="periodicity" class="form-group">
        <label>{{ 'importFromFile.labels.periodicity' | translate }}</label>
        <div class="periodicity-group">
          <ng-multiselect-dropdown
              *ngIf="periodicityTypes$ | async as periodicityTypes"
              [class.has-values]="form?.get('periodicity.type').value?.length"
              [settings]="{ allowSearchFilter: false, enableCheckAll: false, idField: 'id', textField: 'title', singleSelection: true }"
              [data]="periodicityTypes"
              appMultiselectNormalize
              class="flat-multiselect"
              formControlName="type"
          ></ng-multiselect-dropdown>
          <app-bars-period-filter
              *ngIf="form?.get('periodicity.type').value[0]?.id === periodicityTypes.regular"
              [fillOnNull]="false" cssClass="in-modal" formControlName="value"></app-bars-period-filter>
        </div>
      </div>
      <div class="form-group">
        <div class="form-control-cb-wr">
          <label class="container-ch">
            <input formControlName="setRange" type="checkbox" />
            <span class="checkmark"></span>
            {{ 'importFromFile.labels.setRange' | translate }}
          </label>
        </div>
      </div>
      <div *ngIf="form.get('setRange').value; else spacer" class="form-group">
        <ng-multiselect-dropdown
            [class.has-values]="form?.get('timezone').value?.length"
            [settings]="{ allowSearchFilter: true, enableCheckAll: false, singleSelection: true, idField: 'name', textField: 'nameTitle'}"
            [data]="timezones"
            appMultiselectNormalize
            class="flat-multiselect timezone-dropdown"
            formControlName="timezone"
        ></ng-multiselect-dropdown>
        <div class="range-labels">
          <label>{{ 'importFromFile.labels.startTime' | translate }}</label>
          <label>{{ 'importFromFile.labels.endTime' | translate }}</label>
        </div>
        <app-date-range-picker [clearBtn]="true" [timezone]="nullTimezone.name" formControlName="range"></app-date-range-picker>
      </div>
      <ng-template #spacer >
        <div class="spacer" ></div>
      </ng-template>
    </ng-container>
    <ng-container *ngIf="uploading">
      <ng-container *ngIf="!importError">
        <div class="upload-status">
          <ng-container *ngIf="!importFinished">
            {{ (uploadingFile ? 'importFromFile.uploadingFile' : 'importFromFile.importingFile') | translate }}...
          </ng-container>
          <ng-container *ngIf="importFinished">
            {{ 'importFromFile.importFinished' | translate }}
          </ng-container>
        </div>
        <div class="upload-progress-bar">
          <div [style.width.%]="progress$ | async" class="upload-progress-bar__fill"></div>
          <div class="upload-progress-bar__label">{{ progress$ | async }}%</div>
        </div>
      </ng-container>
      <div *ngIf="messages.length" class="upload-messages">
        <div *ngFor="let message of messages"
            class="upload-message"
            [class.info]="importProgressTypes.info === message.type"
            [class.warning]="importProgressTypes.warning === message.type"
            [class.error]="importProgressTypes.error === message.type"
        >
          <div class="upload-message__left">{{ message.type }}:</div>
          <div class="upload-message__right">{{ message.message }}</div>
        </div>
      </div>
      <div class="upload-cancel">
        <ng-container *ngIf="!importError">
          <button *ngIf="!importFinished" (click)="cancelImport()" class="btn btn-default">
            {{ 'importFromFile.cancel' | translate }}
          </button>
          <button *ngIf="importFinished" (click)="finish()" class="btn btn-primary">
            {{ 'importFromFile.close' | translate }}
          </button>
        </ng-container>
        <div class="error-buttons" *ngIf="importError">
          <button (click)="return()" class="btn btn-primary">
            {{ 'importFromFile.return' | translate }}
          </button>
          <button (click)="finish()" class="btn btn-default">
            {{ 'importFromFile.close' | translate }}
          </button>
        </div>
      </div>
    </ng-container>
  </div>
  <ng-container footer>
    <button [disabled]="form.invalid" (click)="import()" class="btn btn-primary">
      {{ 'importFromFile.import' | translate }}
    </button>
  </ng-container>
</app-modal>
