:host {
  max-width: 50%;
}

.wrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;

  span {
    white-space: nowrap;

    &:first-child {
      margin-right: 5px;
    }

    &:last-child {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

