<app-modal [withoutHeader]="withoutHeader">
  <ng-container content>
    <ng-container *ngIf="messageTpl">
      <ng-container *ngTemplateOutlet="messageTpl"></ng-container>
    </ng-container>
    <ng-container *ngIf="!messageTpl">{{ message }}</ng-container>
  </ng-container>
  <ng-container footer>
    <button (click)="onSuccess()" class="btn btn-danger" type="button">
      {{ btns.yes | translate }}
    </button>
    <button appModalHideBtn class="btn btn-default last" type="button">
      {{ btns.no | translate }}
    </button>
  </ng-container>
</app-modal>
