<app-right-info-wrapper #infoContentWrapper>
  <ng-container title>{{ 'titles.msgDetails' | translate }}</ng-container>
  <ng-container content>
    <ng-container *ngIf="(message$ | async)?.selectedMessage; else noMessageSelected">
      <div class="control-panel d-flex">
        <div [formControl]="viewControl" btnRadioGroup class="btn-group radio-group">
          <button btnRadio="view" class="btn btn-default">
            {{ 'messageInfo.views.view' | translate }}
          </button>
          <button btnRadio="json" class="btn btn-default">
            {{ 'messageInfo.views.json' | translate }}
          </button>
          <button *ngIf="showOrderBook && (canShowOrderBook$ | async)" btnRadio="orderBook" class="btn btn-default">
            {{ 'messageInfo.views.orderBook' | translate }}
          </button>
        </div>
      </div>
      <div class="info-content-wrapper" [ngSwitch]="viewControl.value">
        <div *ngSwitchCase="'view'" class="table-wrapper">
          <div class="table-responsive">
            <table class="table">
              <tbody>
              <ng-container *ngFor="let prop of props$ | async">
                <tr>
                  <th [colSpan]="prop.value ? 1 : 2" scope="row">{{ prop.key }}</th>
                  <td *ngIf="prop.value">{{ prop.value }}</td>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
        <div *ngSwitchCase="'json'" class="editorWr">
          <ngx-monaco-editor [ngModel]="editorValue$ | async" [options]="editorOptions"></ngx-monaco-editor>
        </div>
        <ng-container *ngSwitchCase="'orderBook'">
          <app-order-book
              *ngIf="(showOrderBook$ | async) && !(tabSwitching$ | async)"
              (readyWithData)="onOrderBookReady()"
              [streams]="orderBookStreams$ | async"
              [feed$]="feedFiltered$"
              [symbol]="orderBookSymbol$ | async"
              [bookWidth]="elementWidth$ | async"
              [inDepthChart]="false"
              [class.hidden]="hideOrderBook$ | async"
              [takePrecisionsFromFeed]="true"
              (reRun)="onOrderBookReRun()"
          ></app-order-book>
          <div [class.show]="(showLoader$ | async) || (tabSwitching$ | async)" class="loader"></div>
          <div class="order-book-no-data" *ngIf="orderBookNoData$ | async">{{ orderBookError$ | async | translate }}</div>
        </ng-container>
      </div>
    </ng-container>
    <ng-template #noMessageSelected>
      <div class="no-message-selected">{{ 'rightPanel.noMessageSelected' | translate }}</div>
    </ng-template>
  </ng-container>
</app-right-info-wrapper>
