<app-modal>
  <ng-container title>{{ title }}</ng-container>
  <ng-container [formGroup]="formGroup" content>
    <div class="section-header">{{ 'globalSettingsModal.headers.dateTime' | translate }}</div>
    <div class="row">
      <div class="col-md-6">
        <app-multi-select
            formControlName="dateFormat"
            [items]="dropdownListDateFormats"
            [single]="true"
            [search]="false"
            placeholder="Date Format"
        ></app-multi-select>
      </div>
      <div class="col-md-6">
        <app-multi-select
            formControlName="timeFormat"
            [items]="dropdownListTimeFormats"
            [single]="true"
            [search]="false"
            placeholder="Time Format"
        ></app-multi-select>
      </div>
      <div class="col-md-12">
        <app-multi-select
            formControlName="timezone"
            [items]="dropdownListTimeZones"
            [single]="true"
            placeholder="Timezone"
        ></app-multi-select>
      </div>
    </div>
    <div class="section-header">{{ 'globalSettingsModal.headers.tree' | translate }}</div>
    <div class="row">
      <div class="col-md-12">
        <label class="container-ch">
          <input type="checkbox" formControlName="showSpaces" />
          <span class="checkmark"></span>
          {{ 'globalSettingsModal.labels.showSpaces' | translate }}
        </label>
      </div>
    </div>
  </ng-container>
  <ng-container footer>
    <button
        (click)="clear()"
        [tooltip]="'buttons.clear' | translate"
        class="btn btn-default"
        type="button">
      Clear
    </button>
    <button
        [tooltip]="'buttons.close' | translate"
        appModalHideBtn
        class="btn btn-default last"
        type="button">
      {{ closeBtnName }}
    </button>
  </ng-container>
</app-modal>
