<app-modal>
  <ng-container title>{{ title }}</ng-container>
  <ng-container [formGroup]="formGroup" content>
    <div class="section-header">{{ 'globalSettingsModal.headers.dateTime' | translate }}</div>
    <div class="row">
      <div class="col-md-6">
        <app-multi-select
            formControlName="dateFormat"
            [items]="dropdownListDateFormats"
            [single]="true"
            [search]="false"
            [placeholder]="'globalSettingsModal.tooltips.dateFormat' | translate"
            [tooltip]="'globalSettingsModal.tooltips.dateFormat' | translate"
            placement="top"
        ></app-multi-select>
      </div>
      <div class="col-md-6">
        <app-multi-select
            formControlName="timeFormat"
            [items]="dropdownListTimeFormats"
            [single]="true"
            [search]="false"
            [placeholder]="'globalSettingsModal.tooltips.timeFormat' | translate"
            [tooltip]="'globalSettingsModal.tooltips.timeFormat' | translate"
            placement="top"
        ></app-multi-select>
      </div>
      <div class="col-md-12">
        <app-multi-select
            formControlName="timezone"
            [items]="dropdownListTimeZones"
            [single]="true"
            [filterById]="true"
            [placeholder]="'globalSettingsModal.tooltips.timeZone' | translate"
            [tooltip]="'globalSettingsModal.tooltips.timeZone' | translate"
            placement="top"
        ></app-multi-select>
      </div>
    </div>
    <div class="section-header">{{ 'globalSettingsModal.headers.tree' | translate }}</div>
    <div class="row">
      <div class="col-md-12">
        <label class="container-ch">
          <input type="checkbox" formControlName="reverseViewIsDefault" />
          <span class="checkmark"></span>
          {{ 'globalSettingsModal.labels.defaultReverseView' | translate }}
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label class="container-ch">
          <input type="checkbox" formControlName="showSpaces" />
          <span class="checkmark"></span>
          {{ 'globalSettingsModal.labels.showSpaces' | translate }}
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label class="container-ch">
          <input type="checkbox" formControlName="hideSystemStreams" />
          <span class="checkmark"></span>
          {{ 'globalSettingsModal.labels.hideSystemStreams' | translate }}
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label class="container-ch">
          <span
              class="checkbox-hit-area"
              tooltip="{{ 'globalSettingsModal.tooltips.showTopicsComingSoon' | translate }}"
              placement="right"
              container="body">
            <input type="checkbox" formControlName="showTopics" />
            <span class="checkmark"></span>
          </span>
          <span
              tooltip="{{ 'globalSettingsModal.tooltips.showTopicsComingSoon' | translate }}"
              placement="top"
              container="body">
            {{ 'globalSettingsModal.labels.showTopics' | translate }}
          </span>
        </label>
      </div>
    </div>
  </ng-container>
  <ng-container footer>
    <a
      class="kb-link"
      href="https://kb.timebase.info/docs/development/tools/Web%20Admin/admin_guide"
      target="_blank"
      [tooltip]="'contextMenu.knowledgeBase' | translate"
      container="body"
      >Need help?
    </a>
    <button
        (click)="clear()"
        [tooltip]="'buttons.clear' | translate"
        class="btn btn-default"
        type="button">
      Clear
    </button>
    <button
        [tooltip]="'buttons.close' | translate"
        appModalHideBtn
        class="btn btn-default last"
        type="button">
      {{ closeBtnName }}
    </button>
  </ng-container>
</app-modal>
