<div class="notification alerts-wrapper">
  <alert
      (onClosed)="onClosed(alert, i)"
      *ngFor="let alert of (notificationsState | async).alerts; let i = index"
      [dismissOnTimeout]="alert.closeInterval"
      [dismissible]="alert.dismissible"
      type="danger">
    <span [innerHtml]="alert.message"></span>
  </alert>
</div>
<div class="notification warns-wrapper">
  <alert
      (onClosed)="onClosed(warn, i)"
      *ngFor="let warn of (notificationsState | async).warns; let i = index"
      [dismissOnTimeout]="warn.closeInterval"
      [dismissible]="warn.dismissible"
      type="warning">
    <span [innerHtml]="warn.message"></span>
  </alert>
</div>
<div class="notification notifications-wrapper">
  <ng-template
      [ngForOf]="(notificationsState | async).notifications"
      let-i="index"
      let-notification
      ngFor>
    <alert
        #currentAlert
        (onClosed)="onClosed(notification, i)"
        [dismissOnTimeout]="notification.closeInterval"
        [dismissible]="notification.dismissible"
        [type]="notification.type">
      <span *ngIf="!notification.requestDialogParams" [innerHtml]="notification.message"></span>
      <div *ngIf="notification.requestDialogParams" class="requestDialogContent">
        <p [innerHtml]="notification.message" class="requestDialogText"></p>
        <div class="requestDialogButtons">
          <button
              (click)="
              notification.requestDialogParams.closeActions.onSuccess(); currentAlert.close()
            "
              class="btn btn-sm btn-danger"
              type="button">
            <span *ngIf="notification.requestDialogParams.buttonsTextLinks">{{
              notification.requestDialogParams.buttonsTextLinks.success | translate
              }}</span>
            <span *ngIf="!notification.requestDialogParams.buttonsTextLinks">{{
              'buttons.ok' | translate
              }}</span>
          </button>
          <button
              (click)="notification.requestDialogParams.closeActions.onCancel(); currentAlert.close()"
              class="btn btn-sm btn-outline-light"
              type="button">
            <span *ngIf="notification.requestDialogParams.buttonsTextLinks">{{
              notification.requestDialogParams.buttonsTextLinks.cancel | translate
              }}</span>
            <span *ngIf="!notification.requestDialogParams.buttonsTextLinks">{{
              'buttons.cancel' | translate
              }}</span>
          </button>
        </div>
      </div>
    </alert>
  </ng-template>
</div>
