@import '~src/app/core/styles/variables';

.notification {
  position: fixed;
  display: block;
  z-index: 1100;
}

::ng-deep {
  .requestDialogButtons {
    display: flex;
    justify-content: flex-end;

    .btn {
      margin: 0 2 * $ss;
    }
  }

  .notifications-wrapper .alert.alert-info {
    background: $nav-bg;
    color: $white;
    border-color: $body-bg;
  }
}

app-error {
  display: block;
  max-width: 600px;
  word-break: break-all;

  &::ng-deep {
    .btn-wrapper {
      text-align: center;
    }
  }
}
