<app-resizable [minWidth]="600" [minHeight]="500" [storageKey]="'create-view-modal-size'" 
  [contentClassName]="'monaco-wrapper'" [contentHeightDifference]="230" [modalBodyHeightDifference]="120">
  <app-modal [formGroup]="form">
    <ng-container title>{{ 'createViewModal.title' | translate }}</ng-container>
    <ng-container content>
      <div class="controlWr">
        <label class="btn control-label"> {{ 'qqlEditor.createViewModal.viewName' | translate }} </label>
        <input appAutofocus formControlName="title" class="btn input-control"></div>
      <div
          *ngIf="(form.get('title').invalid && form.get('title').touched) || form.get('title').hasError('specialSymbols')"
          class="alert alert-danger error-alert"
      >
        <ng-container *ngIf="form.get('title').hasError('required')">
          {{ 'createViewModal.errors.required' | translate }}
        </ng-container>
        <ng-container *ngIf="form.get('title').hasError('specialSymbols')">
          {{ 'createViewModal.errors.forbiddenSymbolsError' | translate }}
        </ng-container>
        <ng-container *ngIf="form.get('title').hasError('beError')">
          {{ beErrorText || ('createViewModal.errors.duplicateName' | translate) }}
        </ng-container>
      </div>
      <app-qql-editor formControlName="query"></app-qql-editor>
    </ng-container>
    <ng-container footer>
      <div class="form-check live-view-checkbox">
        <input class="form-check-input" type="checkbox" formControlName="live">
        <label class="form-check-label">
          {{ 'createViewModal.liveView' | translate }}
        </label>
      </div>
      <button (click)="createView()" [disabled]="form.invalid || form.pending" class="btn btn-primary">
        {{ 'createViewModal.createView' | translate }}
      </button>
    </ng-container>
  </app-modal>
</app-resizable>
