@import 'src/app/core/styles/variables';
@import 'src/app/core/styles/db-selector';

:host {
  width: 400px;

  .controlWr {
    display: flex;

    input {
      flex-grow: 1;
    }
  }

}

app-qql-editor {
  min-height: 200px;
}

.alert {
  padding: 3px 10px;
}

::ng-deep .modal-xl {
  min-width: 600px;
  min-height: 400px;
}

.live-view-checkbox {
  padding-right: 2rem;
  label {
    text-transform: uppercase;
  }
  .form-check-input {
    margin-top: 0.2rem;
  }
}

.editor-loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff0c;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
