<div [formGroup]="form"
  #dp="bsDatepicker" triggers="dblclick:click" bsDatepicker (bsValueChange)="onValueChange($event)" [bsConfig]="bsConfig" [(bsValue)]="visibleSelectedDate"
  class="d-flex">
  <input
    type="text"
    class="btn bs-datepicker datepicker-input"
    (input)="onInput()"
    [id]="(field.parentName || '') + field.name"
    [name]="field.name"
    [formControlName]="field.name"
    [attr.tabindex]="field.readonly ? -1 : null">

  <button class="btn btn-navy btn-from"
    (click)="dpToggle($event)" type="button"></button>
</div>
