<div
    #dp="bsDatepicker"
    (bsValueChange)="onValueChange($event)"
    [(bsValue)]="visibleSelectedDate"
    [bsConfig]="bsConfig"
    [formGroup]="form"
    bsDatepicker
    class="d-flex"
    triggers="dblclick:click">
  <input
      (input)="onInput()"
      [attr.tabindex]="field.readonly ? -1 : null"
      [formControlName]="field.name"
      [id]="(field.parentName || '') + field.name"
      [name]="field.name"
      class="btn bs-datepicker datepicker-input"
      type="text" />
  
  <button (click)="dpToggle($event)" class="btn btn-navy btn-from" type="button"></button>
</div>
