<ng-template [ngIf]="selectedSchemaItem$ | async">
  <div class="cl-control-panel">
    <button
        *ngIf="extendable"
        (click)="onAskToAdd()"
        [disabled]="(newFieldIsAdding | async) || readonly"
        class="btn btn-sm btn-outline-success"
        type="button">
      {{
      ((selectedSchemaItem$ | async).isEnum ? 'buttons.newValue' : 'buttons.newNonStaticField')
          | translate
      }}
    </button>
    <button
        (click)="onAskToAdd(true)"
        *ngIf="!(selectedSchemaItem$ | async).isEnum && extendable"
        [disabled]="(newFieldIsAdding | async) || readonly"
        class="btn btn-sm btn-outline-warning"
        type="button">
      {{ 'buttons.newStaticField' | translate }}
    </button>
    <div class="spacer"></div>
    <button
      (click)="onAskToRemoveItems()"
      [title]="'titles.removeItems' | translate"
      [disabled]="!fieldList?.length || readonly"
      class="btn btn-sm btn-outline-danger d-flex justify-content-center align-items-center delete-selected-btn"
      type="button">
      {{ 'buttons.remove' | translate }}
    </button>
    <button
        (click)="onAskDeleteSelected()"
        [disabled]="(deleteBtnDisabled$ | async) || !fieldList?.length || readonly"
        [title]="'titles.removeSelectedItem' | translate"
        class="btn btn-sm btn-outline-danger d-flex justify-content-center align-items-center delete-selected-btn"
        type="button">
      {{ 'buttons.removeSelected' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #modalTemplate>
  <div class="modal-body">
    {{ requestMessage }}
  </div>
  <div class="modal-footer d-flex justify-content-end">
    <button
        (click)="onDeleteSelected()"
        aria-label="Close"
        class="btn btn-danger pull-right"
        type="button">
      <span aria-hidden="true">{{ 'buttons.remove' | translate }}</span>
    </button>
    <button
        (click)="deleteModalRef.hide()"
        aria-label="Close"
        class="btn btn-outline-light pull-right"
        type="button">
      <span aria-hidden="true">{{ 'buttons.cancel' | translate }}</span>
    </button>
  </div>
</ng-template>

<ng-template #modalNewItemTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{
      ((selectedSchemaItem$ | async).isEnum ? 'text.addNewValue' : 'text.addNewField') | translate
      }}
    </h4>
  </div>
  <div class="modal-body">
    <form
        (ngSubmit)="onAddNewField(askToAddInitialState.isStatic)"
        [formGroup]="nameForm"
        class="form-horizontal props-form nameForm"
        id="nameForm">
      <div class="controlWr">
        <label class="btn control-label" for="nameInput">
          {{
          ((selectedSchemaItem$ | async).isEnum ? 'forms.newValue' : 'forms.newName') | translate
          }}
        </label>
        <input
            class="btn input-control"
            formControlName="name"
            id="nameInput"
            name="name"
            type="text" />
      </div>
      <div
          *ngIf="nameForm.get('name').invalid && !nameForm.get('name').pristine"
          class="alert alert-danger my-1 p-2 fadeInDown animated validation-error">
        <span *ngIf="isNameForbidden()" class="d-block">{{
          'forms.validators.nameExists' | translate
          }}</span>
        <span *ngIf="nameForm.get('name').getError('pattern')" class="d-block">{{
          'forms.validators.invalidPattern' | translate
          }}</span>
        <span *ngIf="nameForm.get('name').getError('pattern')" class="d-block text-pre">{{
          'forms.fieldsList.validators.allowedFieldNamePattern' | translate
          }}</span>
        <span *ngIf="nameForm.get('name').getError('required')" class="d-block">{{
          'forms.validators.requiredField' | translate
          }}</span>
      </div>
      <div *ngIf="nameForm.get('value')">
        <div class="controlWr">
          <label class="btn control-label" for="valueInput">
            {{ 'forms.fieldsList.staticValue' | translate }}
            <strong class="text-danger">*</strong>
          </label>
          <input
              class="btn input-control"
              formControlName="value"
              id="valueInput"
              name="value"
              type="text" />
        </div>
        <div
            *ngIf="nameForm.get('value').invalid && !nameForm.get('value').pristine"
            class="alert alert-danger my-1 p-2 fadeInDown animated validation-error">
          <span *ngIf="nameForm.get('value').getError('required')" class="d-block">{{
            'forms.validators.requiredField' | translate
            }}</span>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer d-flex justify-content-end">
    <button
        [disabled]="nameForm.invalid || nameForm.pristine"
        aria-label="Close"
        class="btn btn-danger pull-right"
        form="nameForm"
        type="submit">
      <span aria-hidden="true">{{ 'buttons.add' | translate }}</span>
    </button>
    <button
        (click)="newItemModalRef.hide()"
        aria-label="Close"
        class="btn btn-outline-light pull-right"
        type="button">
      <span aria-hidden="true">{{ 'buttons.cancel' | translate }}</span>
    </button>
  </div>
</ng-template>

<ng-template #modalRemoveItemsTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{ 'text.removeItems' | translate }}
    </h4>
  </div>
  <div class="modal-body">
    <ul class="class-enum-field-list">
      <li *ngFor="let field of fieldList">
        <label class="container-ch">
          <input type="checkbox" (change)="onRemoveItemsModalCheckboxChange($event, field)">
          <span class="checkmark"></span>
          <span class='item-name field-name'>{{ field }}</span>
        </label>
      </li>
    </ul>
  </div>
  <div class="modal-footer d-flex justify-content-end">
    <button
        (click)="openRemovingConfirmationModal()"
        aria-label="Close"
        class="btn btn-danger pull-right"
        [disabled]="!itemsToBeRemoved.size"
        type="button">
      <span aria-hidden="true">{{ 'buttons.removeSelected' | translate }}</span>
    </button>
    <button
        (click)="hideRemoveItemsModal()"
        aria-label="Close"
        class="btn btn-outline-light pull-right"
        type="button">
      <span aria-hidden="true">{{ 'buttons.cancel' | translate }}</span>
    </button>
  </div>
</ng-template>