<ng-template [ngIf]="(selectedSchemaItem$ | async)">
  <div class="cl-control-panel">
    <button class="btn btn-sm btn-outline-success"
        (click)="onAskToAdd()"
        [disabled]="(newFieldIsAdding | async)"
        type="button">{{((selectedSchemaItem$ | async).isEnum ? 'buttons.newValue' : 'buttons.newNonStaticField') | translate}}</button>
    <button class="btn btn-sm btn-outline-warning"
        (click)="onAskToAdd(true)"
        [disabled]="(newFieldIsAdding | async)"
        *ngIf="!(selectedSchemaItem$ | async).isEnum"
        type="button">{{'buttons.newStaticField' | translate}}</button>
    <div class="spacer"></div>
    <button
        class="btn btn-sm btn-outline-danger d-flex justify-content-center align-items-center delete-selected-btn"
        (click)="onAskDeleteSelected()"
        [disabled]="deleteBtnDisabled$ | async"
        [title]="'titles.removeSelectedItem' | translate"
        type="button"
    >{{'buttons.removeSelected' | translate}}
    </button>
  </div>
</ng-template>

<ng-template #modalTemplate>
  <div class="modal-body">
    {{requestMessage}}
  </div>
  <div class="modal-footer d-flex justify-content-end">
    <button type="button" class="btn btn-danger pull-right" aria-label="Close" (click)="onDeleteSelectedField()">
      <span aria-hidden="true">{{'buttons.remove' | translate}}</span>
    </button>
    <button type="button" class="btn btn-outline-light pull-right" aria-label="Close" (click)="deleteModalRef.hide()">
      <span aria-hidden="true">{{'buttons.cancel' | translate}}</span>
    </button>
  </div>
</ng-template>

<ng-template #modalNewItemTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{((selectedSchemaItem$ | async).isEnum ? 'text.addNewValue' : 'text.addNewField') | translate}}</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="nameForm" class="form-horizontal props-form nameForm" id="nameForm" (ngSubmit)="onAddNewField(askToAddInitialState.isStatic)">
      <div class="controlWr">
        <label class="btn control-label" for="nameInput">
          {{((selectedSchemaItem$ | async).isEnum ? 'forms.newValue' : 'forms.newName') | translate}}
        </label>
        <input class="btn input-control"
            type="text"
            id="nameInput"
            name="name"
            formControlName="name"
        />
      </div>
      <div *ngIf="nameForm.get('name').invalid && !nameForm.get('name').pristine" class="alert alert-danger my-1 p-2 fadeInDown animated validation-error">
        <span class="d-block" *ngIf="isNameForbidden()">{{'forms.validators.nameExists' | translate}}</span>
        <span class="d-block" *ngIf="nameForm.get('name').getError('pattern')">{{'forms.validators.invalidPattern' | translate}}</span>
        <span class="d-block text-pre" *ngIf="nameForm.get('name').getError('pattern')">{{'forms.fieldsList.validators.allowedFieldNamePattern' | translate}}</span>
        <span class="d-block" *ngIf="nameForm.get('name').getError('required')">{{'forms.validators.requiredField' | translate}}</span>
      </div>
      <div *ngIf="nameForm.get('value')">
        <div class="controlWr">
          <label class="btn control-label" for="valueInput">
            {{'forms.fieldsList.staticValue' | translate}}
            <strong class="text-danger">*</strong>
          </label>
          <input class="btn input-control"
              type="text"
              id="valueInput"
              name="value"
              formControlName="value"
          />
        </div>
        <div *ngIf="nameForm.get('value').invalid && !nameForm.get('value').pristine" class="alert alert-danger my-1 p-2 fadeInDown animated validation-error">
          <span class="d-block" *ngIf="nameForm.get('value').getError('required')">{{'forms.validators.requiredField' | translate}}</span>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer d-flex justify-content-end">
    <button [disabled]="nameForm.invalid || nameForm.pristine" type="submit" form="nameForm" class="btn btn-danger pull-right" aria-label="Close">
      <span aria-hidden="true">{{'buttons.add' | translate}}</span>
    </button>
    <button type="button" class="btn btn-outline-light pull-right" aria-label="Close" (click)="newItemModalRef.hide()">
      <span aria-hidden="true">{{'buttons.cancel' | translate}}</span>
    </button>
  </div>
</ng-template>
