@import '~src/app/core/styles/variables';

.hidden {
  display: none !important;
}

app-query-btn {
  color: white;
  flex-grow: 1;
}

app-sidebar-context-menu-item {
  app-query-btn ::ng-deep a,
  button.btn-link.btn,
  a {
    padding-left: 0;
    padding-right: 0;
    color: $white;
    text-align: left;
    align-items: center;
  }

  a {
    display: flex;
    align-items: center;
  }
}

app-sidebar-context-menu-item {
  .btn.btn-link {
    display: flex;
    align-items: center;

    svg {
      margin-top: 4px;
      margin-left: 3px;
      margin-right: 7px;
    }
  }
}

.chart-item:not(.disabled) {
  cursor: pointer;
}
